### DNSC 6306
### Group members: Shubham Patil, Yuxuan Chen, Namarata Satpute, Chao Hu, Tai Pham

## Data Files Preparation

* If not already, use the following command to change working directory to /home/ubuntu/notebooks

* Upload California_Crime_2021_DB.zip downloaded from Blackboard manually to the current directory. Then, unzip it using the following commands.

In [1]:
!unzip -l California_Crime_2021_DB.zip

Archive:  California_Crime_2021_DB.zip
  Length      Date    Time    Name
---------  ---------- -----   ----
  2662581  2023-09-30 22:03   NIBRS_ARRESTEE.csv
   126779  2023-10-19 23:31   NIBRS_DataDictionary_highlighted.pdf
      141  2023-09-30 22:03   NIBRS_ETHNICITY.csv
 11311050  2023-09-30 22:03   NIBRS_incident.csv
     1314  2023-09-30 22:03   NIBRS_LOCATION_TYPE.csv
  5883876  2023-09-30 22:03   NIBRS_OFFENDER.csv
  4930928  2023-09-30 22:03   NIBRS_OFFENSE.csv
     5413  2023-09-30 22:03   NIBRS_OFFENSE_TYPE.csv
      852  2023-09-30 22:03   NIBRS_RELATIONSHIP.csv
  6912753  2023-09-30 22:03   NIBRS_VICTIM.csv
  1125169  2023-09-30 22:03   NIBRS_VICTIM_OFFENDER_REL.csv
  3716831  2023-09-30 22:03   NIBRS_VICTIM_OFFENSE.csv
      214  2023-09-30 22:03   NIBRS_VICTIM_TYPE.csv
      661  2023-09-30 22:03   REF_RACE.csv
---------                     -------
 36678562                     14 files

In [2]:
!unzip California_Crime_2021_DB.zip

Archive:  California_Crime_2021_DB.zip
  inflating: NIBRS_ARRESTEE.csv
  inflating: NIBRS_DataDictionary_highlighted.pdf
  inflating: NIBRS_ETHNICITY.csv
  inflating: NIBRS_incident.csv
  inflating: NIBRS_LOCATION_TYPE.csv
  inflating: NIBRS_OFFENDER.csv
  inflating: NIBRS_OFFENSE.csv
  inflating: NIBRS_OFFENSE_TYPE.csv
  inflating: NIBRS_RELATIONSHIP.csv
  inflating: NIBRS_VICTIM.csv
  inflating: NIBRS_VICTIM_OFFENDER_REL.csv
  inflating: NIBRS_VICTIM_OFFENSE.csv
  inflating: NIBRS_VICTIM_TYPE.csv
  inflating: REF_RACE.csv

In [3]:
!wc *.csv

   39568    39568  2662581 NIBRS_ARRESTEE.csv
       6       12      141 NIBRS_ETHNICITY.csv
      48       84     1314 NIBRS_LOCATION_TYPE.csv
  131343   131343  5883876 NIBRS_OFFENDER.csv
  136849   136849  4930928 NIBRS_OFFENSE.csv
      87      384     5413 NIBRS_OFFENSE_TYPE.csv
      28       89      852 NIBRS_RELATIONSHIP.csv
  133988   133988  6912753 NIBRS_VICTIM.csv
   39188    39188  1125169 NIBRS_VICTIM_OFFENDER_REL.csv
  148673   148673  3716831 NIBRS_VICTIM_OFFENSE.csv
      10       14      214 NIBRS_VICTIM_TYPE.csv
  118177   236353 11311050 NIBRS_incident.csv
      13       56      661 REF_RACE.csv
  747978   866601 36551783 total

### Library Preparation
* To install the libraries ipython-sql and psycopg2 to connect to PostgreSQL. PostSQL is already downloaded on EC2 instance.

In [4]:
!pip freeze | grep -E 'ipython-sql|psycopg2'

ipython-sql==0.4.1
psycopg2==2.9.5
psycopg2-binary==2.9.5

# Database Preparation

* Drop the database if it already exists.

In [5]:
!dropdb -U student assignment2

* Create a new database name 'Assignment2'

In [6]:
!createdb -U student assignment2

* Load package SQL

In [7]:
%load_ext sql

* Connect the database with loaded package SQL.

In [8]:
%sql postgresql://student@/assignment2

#### Create table of Ethnicity

In [9]:
%%sql
DROP TABLE IF EXISTS NIBRS_Ethnicity Cascade;

CREATE TABLE NIBRS_Ethnicity(
  Ethnicity_ID numeric(4) NOT NULL,
  Ethnicity_Code char(1) NULL,
  Ethnicity_Name varchar(100) NULL,
  PRIMARY KEY (Ethnicity_ID)
);

 * postgresql://student@/assignment2
Done.
Done.

[]

In [10]:
%%sql
COMMENT ON TABLE NIBRS_Ethnicity IS
'Ethnicity table: holds information on ethnicity categories, including a unique identifier , a code that represents the ethnicity, and a descriptive term for that ethnicity category';

 * postgresql://student@/assignment2
Done.

[]

In [11]:
%%sql
SELECT obj_description(oid, 'pg_class')
FROM pg_class
WHERE upper(relname) = 'NIBRS_ETHNICITY';

 * postgresql://student@/assignment2
1 rows affected.

[('Ethnicity table: holds information on ethnicity categories, including a unique identifier , a code that represents the ethnicity, and a descriptive term for that ethnicity category',)]

In [12]:
%%sql
COMMENT ON COLUMN NIBRS_Ethnicity.Ethnicity_ID IS 'Internal ID';
COMMENT ON COLUMN NIBRS_Ethnicity.Ethnicity_Code IS 'Ethnicity code from the tech spec';
COMMENT ON COLUMN NIBRS_Ethnicity.Ethnicity_Name IS 'Ethnicity name from the tech spec';

 * postgresql://student@/assignment2
Done.
Done.
Done.

[]

In [13]:
%%sql
SELECT cols.column_name,
pg_catalog.col_description(c.oid, cols.ordinal_position::int)
FROM pg_catalog.pg_class c, information_schema.columns cols
 WHERE cols.table_name = c.relname  and upper(relname) = 'NIBRS_ETHNICITY';

 * postgresql://student@/assignment2
3 rows affected.

[('ethnicity_id', 'Internal ID'),
 ('ethnicity_code', 'Ethnicity code from the tech spec'),
 ('ethnicity_name', 'Ethnicity name from the tech spec')]

##### Show the colunms of the Ethnicity datafile

In [14]:
!csvcut -n /home/ubuntu/notebooks/NIBRS_ETHNICITY.csv

  1: ethnicity_id
  2: ethnicity_code
  3: ethnicity_name

In [15]:
%%sql
COPY NIBRS_Ethnicity FROM '/home/ubuntu/notebooks/NIBRS_ETHNICITY.csv'
CSV
HEADER;

 * postgresql://student@/assignment2
5 rows affected.

[]

In [16]:
%%sql
SELECT *
FROM NIBRS_ETHNICITY;

 * postgresql://student@/assignment2
5 rows affected.

[(Decimal('10'), 'H', 'Hispanic or Latino'),
 (Decimal('20'), 'N', 'Not Hispanic or Latino'),
 (Decimal('30'), 'M', 'Multiple'),
 (Decimal('40'), 'U', 'Unknown'),
 (Decimal('50'), 'X', 'Not Specified')]

In [17]:
%%sql
SELECT COUNT(*) FROM NIBRS_Ethnicity

 * postgresql://student@/assignment2
1 rows affected.

[(5,)]

!csvcut NIBRS_ETHNICITY.csv | csvstat

In [18]:
!xsv count NIBRS_ETHNICITY.csv

5

* We decided to use xsv instead of csvcut to run it more efficiently.

#### Create table of Location Type

In [19]:
%%sql
DROP TABLE IF EXISTS NIBRS_Location_Type Cascade;

CREATE TABLE NIBRS_Location_Type(
  Location_ID numeric(10) NOT NULL,
  Location_Code char(2) NULL,
  Location_Name varchar(100) NULL,
  PRIMARY KEY (Location_ID)
);

 * postgresql://student@/assignment2
Done.
Done.

[]

In [20]:
%%sql
COMMENT ON TABLE NIBRS_Location_Type IS
'Location Type table: holds information about various attributes of the location like its unique identity,  the type of location it represents, and a code connected with that location';

 * postgresql://student@/assignment2
Done.

[]

In [21]:
%%sql
SELECT obj_description(oid, 'pg_class')
FROM pg_class
WHERE upper(relname) = 'NIBRS_LOCATION_TYPE';

 * postgresql://student@/assignment2
1 rows affected.

[('Location Type table: holds information about various attributes of the location like its unique identity,  the type of location it represents, and a code connected with that location',)]

In [22]:
%%sql
COMMENT ON COLUMN NIBRS_Location_Type.Location_ID IS 'Internal location ID';
COMMENT ON COLUMN NIBRS_Location_Type.Location_Code IS 'Location code from the tech spec';
COMMENT ON COLUMN NIBRS_Location_Type.Location_Name IS 'Location name from the tech spec';

 * postgresql://student@/assignment2
Done.
Done.
Done.

[]

In [23]:
%%sql
SELECT cols.column_name,
pg_catalog.col_description(c.oid, cols.ordinal_position::int)
FROM pg_catalog.pg_class c, information_schema.columns cols
WHERE cols.table_name = c.relname  and upper(relname) = 'NIBRS_LOCATION_TYPE';

 * postgresql://student@/assignment2
3 rows affected.

[('location_id', 'Internal location ID'),
 ('location_code', 'Location code from the tech spec'),
 ('location_name', 'Location name from the tech spec')]

In [24]:
!csvcut -n /home/ubuntu/notebooks/NIBRS_LOCATION_TYPE.csv

  1: location_id
  2: location_code
  3: location_name

In [25]:
%%sql
COPY NIBRS_Location_Type FROM '/home/ubuntu/notebooks/NIBRS_LOCATION_TYPE.csv'
CSV
HEADER;

 * postgresql://student@/assignment2
47 rows affected.

[]

In [26]:
%%sql
SELECT *
FROM NIBRS_Location_Type

 * postgresql://student@/assignment2
47 rows affected.

[(Decimal('1'), '37', 'Abandoned/Condemned Structure'),
 (Decimal('2'), '01', 'Air/Bus/Train Terminal'),
 (Decimal('3'), '38', 'Amusement Park'),
 (Decimal('4'), '39', 'Arena/Stadium/Fairgrounds/Coliseum'),
 (Decimal('5'), '40', 'ATM Separate from Bank'),
 (Decimal('6'), '41', 'Auto Dealership New/Used'),
 (Decimal('7'), '02', 'Bank/Savings and Loan'),
 (Decimal('8'), '03', 'Bar/Nightclub'),
 (Decimal('9'), '42', 'Camp/Campground'),
 (Decimal('10'), '04', 'Church/Synagogue/Temple/Mosque'),
 (Decimal('11'), '05', 'Commercial/Office Building'),
 (Decimal('12'), '57', 'Community Center'),
 (Decimal('13'), '06', 'Construction Site'),
 (Decimal('14'), '07', 'Convenience Store'),
 (Decimal('15'), '58', 'Cyberspace'),
 (Decimal('16'), '44', 'Daycare Facility'),
 (Decimal('17'), '08', 'Department/Discount Store'),
 (Decimal('18'), '45', 'Dock/Wharf/Freight/Modal Terminal'),
 (Decimal('19'), '09', "Drug Store/Doctor's Office/Hospital"),
 (Decimal('20'), '46', 'Farm Facility'),
 (Decimal('21'), '10', 'Field/Woods'),
 (Decimal('22'), '47', 'Gambling Facility/Casino/Race Track'),
 (Decimal('23'), '11', 'Government/Public Building'),
 (Decimal('24'), '12', 'Grocery/Supermarket'),
 (Decimal('25'), '13', 'Highway/Road/Alley/Street/Sidewalk'),
 (Decimal('26'), '14', 'Hotel/Motel/Etc.'),
 (Decimal('27'), '48', 'Industrial Site'),
 (Decimal('28'), '15', 'Jail/Prison/Penitentiary/Corrections Facility'),
 (Decimal('29'), '16', 'Lake/Waterway/Beach'),
 (Decimal('30'), '17', 'Liquor Store'),
 (Decimal('31'), '49', 'Military Installation'),
 (Decimal('32'), '50', 'Park/Playground'),
 (Decimal('33'), '18', 'Parking/Drop Lot/Garage'),
 (Decimal('34'), '19', 'Rental Storage Facility'),
 (Decimal('35'), '20', 'Residence/Home'),
 (Decimal('36'), '51', 'Rest Area'),
 (Decimal('37'), '21', 'Restaurant'),
 (Decimal('38'), '22', 'School/College'),
 (Decimal('39'), '52', 'School-College/University'),
 (Decimal('40'), '53', 'School-Elementary/Secondary'),
 (Decimal('41'), '23', 'Service/Gas Station'),
 (Decimal('42'), '54', 'Shelter-Mission/Homeless'),
 (Decimal('43'), '55', 'Shopping Mall'),
 (Decimal('44'), '24', 'Specialty Store'),
 (Decimal('45'), '56', 'Tribal Lands'),
 (Decimal('98'), '25', 'Other/Unknown'),
 (Decimal('99'), '00', 'Not Specified')]

In [27]:
%%sql
SELECT COUNT(*) FROM NIBRS_Location_Type

 * postgresql://student@/assignment2
1 rows affected.

[(47,)]

!csvcut NIBRS_LOCATION_TYPE.csv | csvstat

In [28]:
!xsv count NIBRS_LOCATION_TYPE.csv

47

* We decided to use xsv instead of csvcut to run it more efficiently.

#### Create table of Offense Type

* We removed the Offense_Type_ID as stated in the dictionary, because we are resonably sure there's no corresponding column on other files. 
* We substituted 'OFFENSE_TYPE_ID' with 'OFFENSE_CODE' in the 'NIBRS_OFFENSE_TYPE' entity and remove 'OFFENSE_TYPE_ID' from the 'NIBRS_OFFENSE_TYPE' entity in the data dictionary.

In [29]:
%%sql
DROP TABLE IF EXISTS NIBRS_Offense_Type Cascade;

CREATE TABLE NIBRS_Offense_Type(
  Offense_Code varchar(5) NULL,
  Offense_Name varchar(100) NULL,
  Crime_Against varchar(100) NULL,
  Offense_Category_Name varchar(100) NULL,
  PRIMARY KEY (Offense_Code)
);

 * postgresql://student@/assignment2
Done.
Done.

[]

In [30]:
%%sql
COMMENT ON TABLE NIBRS_Offense_Type IS
'Offense Type table: holds information about a variety of offenses, such as the offense  unique identifier, the name of the offense, the entity against which the crime is committed, and the offenses category name';

 * postgresql://student@/assignment2
Done.

[]

In [31]:
%%sql
SELECT obj_description(oid, 'pg_class')
FROM pg_class
WHERE upper(relname) = 'NIBRS_OFFENSE_TYPE';

 * postgresql://student@/assignment2
1 rows affected.

[('Offense Type table: holds information about a variety of offenses, such as the offense  unique identifier, the name of the offense, the entity against which the crime is committed, and the offenses category name',)]

In [32]:
%%sql
COMMENT ON COLUMN NIBRS_Offense_Type.Offense_Code IS 'NIBRS Offense Code';
COMMENT ON COLUMN NIBRS_Offense_Type.Offense_Name IS 'NIBRS Offense name';
COMMENT ON COLUMN NIBRS_Offense_Type.Crime_Against IS 'type of entity which is a crime against Person, Property, Society, Not a Crime - but tracked';
COMMENT ON COLUMN NIBRS_Offense_Type.Offense_Category_Name IS 'The NIBRS category for this offense';

 * postgresql://student@/assignment2
Done.
Done.
Done.
Done.

[]

In [33]:
%%sql
SELECT cols.column_name,
pg_catalog.col_description(c.oid, cols.ordinal_position::int)
FROM pg_catalog.pg_class c, information_schema.columns cols
WHERE cols.table_name = c.relname  and upper(relname) = 'NIBRS_OFFENSE_TYPE';

 * postgresql://student@/assignment2
4 rows affected.

[('offense_code', 'NIBRS Offense Code'),
 ('offense_name', 'NIBRS Offense name'),
 ('crime_against', 'type of entity which is a crime against Person, Property, Society, Not a Crime - but tracked'),
 ('offense_category_name', 'The NIBRS category for this offense')]

In [34]:
!csvcut -n ~/notebooks/NIBRS_OFFENSE_TYPE.csv

  1: offense_code
  2: offense_name
  3: crime_against
  4: ct_flag
  5: hc_flag
  6: hc_code
  7: offense_category_name
  8: offense_group

* The assigned csv file when review has additional columns which are not required for this assignment. Thus, we decided to remove the unnecessary columns before moving forward to the next step of building the tables. We used csvcut to remove the necessary columns and rename the file.

In [35]:
!csvcut -c 1,2,3,7 /home/ubuntu/notebooks/NIBRS_OFFENSE_TYPE.csv > /home/ubuntu/notebooks/NIBRS_OFFENSE_TYPE_F.csv

In [36]:
%%sql
COPY NIBRS_Offense_Type FROM '/home/ubuntu/notebooks/NIBRS_OFFENSE_TYPE_F.csv'
CSV
HEADER;

 * postgresql://student@/assignment2
86 rows affected.

[]

In [37]:
%%sql
SELECT *
FROM NIBRS_Offense_Type

 * postgresql://student@/assignment2
86 rows affected.

[('09A', 'Murder and Nonnegligent Manslaughter', 'Person', 'Homicide Offenses'),
 ('09B', 'Negligent Manslaughter', 'Person', 'Homicide Offenses'),
 ('09C', 'Justifiable Homicide', 'Person', 'Homicide Offenses'),
 ('11A', 'Rape', 'Person', 'Sex Offenses'),
 ('11B', 'Sodomy', 'Person', 'Sex Offenses'),
 ('11C', 'Sexual Assault With An Object', 'Person', 'Sex Offenses'),
 ('11D', 'Fondling', 'Person', 'Sex Offenses'),
 ('120', 'Robbery', 'Property', 'Robbery'),
 ('13A', 'Aggravated Assault', 'Person', 'Assault Offenses'),
 ('220', 'Burglary/Breaking & Entering', 'Property', 'Burglary/Breaking & Entering'),
 ('240', 'Motor Vehicle Theft', 'Property', 'Motor Vehicle Theft'),
 ('23A', 'Pocket-picking', 'Property', 'Larceny/Theft Offenses'),
 ('23B', 'Purse-snatching', 'Property', 'Larceny/Theft Offenses'),
 ('23C', 'Shoplifting', 'Property', 'Larceny/Theft Offenses'),
 ('23D', 'Theft From Building', 'Property', 'Larceny/Theft Offenses'),
 ('23E', 'Theft From Coin-Operated Machine or Device', 'Property', 'Larceny/Theft Offenses'),
 ('23F', 'Theft From Motor Vehicle', 'Property', 'Larceny/Theft Offenses'),
 ('23G', 'Theft of Motor Vehicle Parts or Accessories', 'Property', 'Larceny/Theft Offenses'),
 ('23H', 'All Other Larceny', 'Property', 'Larceny/Theft Offenses'),
 ('23*', 'Not Specified', 'Property', 'Larceny/Theft Offenses'),
 ('13B', 'Simple Assault', 'Person', 'Assault Offenses'),
 ('13C', 'Intimidation', 'Person', 'Assault Offenses'),
 ('100', 'Kidnapping/Abduction', 'Person', 'Kidnapping/Abduction'),
 ('200', 'Arson', 'Property', 'Arson'),
 ('210', 'Extortion/Blackmail', 'Property', 'Extortion/Blackmail'),
 ('250', 'Counterfeiting/Forgery', 'Property', 'Counterfeiting/Forgery'),
 ('26A', 'False Pretenses/Swindle/Confidence Game', 'Property', 'Fraud Offenses'),
 ('26B', 'Credit Card/Automated Teller Machine Fraud', 'Property', 'Fraud Offenses'),
 ('26C', 'Impersonation', 'Property', 'Fraud Offenses'),
 ('26D', 'Welfare Fraud', 'Property', 'Fraud Offenses'),
 ('26E', 'Wire Fraud', 'Property', 'Fraud Offenses'),
 ('26F', 'Identity Theft', 'Property', 'Fraud Offenses'),
 ('26G', 'Hacking/Computer Invasion', 'Property', 'Fraud Offenses'),
 ('270', 'Embezzlement', 'Property', 'Embezzlement'),
 ('280', 'Stolen Property Offenses', 'Property', 'Stolen Property Offenses'),
 ('290', 'Destruction/Damage/Vandalism of Property', 'Property', 'Destruction/Damage/Vandalism of Property'),
 ('35A', 'Drug/Narcotic Violations', 'Society', 'Drug/Narcotic Offenses'),
 ('35B', 'Drug Equipment Violations', 'Society', 'Drug/Narcotic Offenses'),
 ('36A', 'Incest', 'Person', 'Sex Offenses, Non-forcible'),
 ('36B', 'Statutory Rape', 'Person', 'Sex Offenses, Non-forcible'),
 ('370', 'Pornography/Obscene Material', 'Society', 'Pornography/Obscene Material'),
 ('39A', 'Betting/Wagering', 'Society', 'Gambling Offenses'),
 ('39B', 'Operating/Promoting/Assisting Gambling', 'Society', 'Gambling Offenses'),
 ('39C', 'Gambling Equipment Violation', 'Society', 'Gambling Offenses'),
 ('39D', 'Sports Tampering', 'Society', 'Gambling Offenses'),
 ('40A', 'Prostitution', 'Society', 'Prostitution Offenses'),
 ('40B', 'Assisting or Promoting Prostitution', 'Society', 'Prostitution Offenses'),
 ('40C', 'Purchasing Prostitution', 'Society', 'Prostitution Offenses'),
 ('510', 'Bribery', 'Property', 'Bribery'),
 ('520', 'Weapon Law Violations', 'Society', 'Weapon Law Violations'),
 ('64A', 'Human Trafficking, Commercial Sex Acts', 'Person', 'Human Trafficking'),
 ('64B', 'Human Trafficking, Involuntary Servitude', 'Person', 'Human Trafficking'),
 ('58B', 'Export Violations', 'Society', 'Other Offenses'),
 ('58A', 'Import Violations', 'Society', 'Other Offenses'),
 ('61A', 'Federal Liquor Offenses', 'Society', 'Other Offenses'),
 ('61B', 'Federal Tobacco Offenses', 'Society', 'Other Offenses'),
 ('49C', 'Flight to Avoid Deportation', 'Society', 'Other Offenses'),
 ('26H', 'Money Laundering', 'Society', 'Other Offenses'),
 ('620', 'Wildlife Trafficking', 'Society', 'Other Offenses'),
 ('49B', 'Flight to Avoid Prosecution', 'Society', 'Other Offenses'),
 ('49A', 'Harboring Escapee/Concealing from Arrest', 'Society', 'Other Offenses'),
 ('360', 'Failure to Register as a Sex Offender', 'Society', 'Other Offenses'),
 ('526', 'Explosives Violation', 'Society', 'Other Offenses'),
 ('522', 'Weapons of Mass Destruction', 'Society', 'Other Offenses'),
 ('521', 'Violation of National Firearm Act of 1934', 'Society', 'Other Offenses'),
 ('101', 'Treason', 'Society', 'Other Offenses'),
 ('103', 'Espionage', 'Society', 'Other Offenses'),
 ('30A', 'Illegal Entry into the United States', 'Society', 'Other Offenses'),
 ('30B', 'False Citizenship', 'Society', 'Other Offenses'),
 ('30C', 'Smuggling Aliens', 'Society', 'Other Offenses'),
 ('30D', 'Re-entry after Deportation', 'Society', 'Other Offenses'),
 ('720', 'Animal Cruelty', 'Society', 'Animal Cruelty'),
 ('90A', 'Bad Checks', 'Property', 'Bad Checks'),
 ('90B', 'Curfew/Loitering/Vagrancy Violations', 'Society', 'Curfew/Loitering/Vagrancy Violations'),
 ('90C', 'Disorderly Conduct', 'Society', 'Disorderly Conduct'),
 ('90D', 'Driving Under the Influence', 'Society', 'Driving Under the Influence'),
 ('90E', 'Drunkenness', 'Society', 'Drunkenness'),
 ('90F', 'Family Offenses, Nonviolent', 'Person', 'Family Offenses, Nonviolent'),
 ('90G', 'Liquor Law Violations', 'Society', 'Liquor Law Violations'),
 ('90H', 'Peeping Tom', 'Person', 'Peeping Tom'),
 ('90J', 'Trespass of Real Property', 'Society', 'Trespass of Real Property'),
 ('90Z', 'All Other Offenses', 'Society', 'All Other Offenses'),
 ('90K', 'Failure to Appear', 'Society', 'Other Offenses'),
 ('90L', 'Federal Resource Violations', 'Society', 'Other Offenses'),
 ('90M', 'Perjury', 'Society', 'Other Offenses'),
 ('90I', 'Runaway', 'Not a Crime', 'Other Offenses')]

In [38]:
%%sql
SELECT COUNT(*) FROM NIBRS_OFFENSE_TYPE

 * postgresql://student@/assignment2
1 rows affected.

[(86,)]

!csvcut NIBRS_OFFENSE_TYPE_F.csv | csvstat

In [39]:
!xsv count NIBRS_OFFENSE_TYPE_F.csv

86

* We decided to use xsv instead of csvcut to run it more efficiently.

#### Create table of Relationship.

In [40]:
%%sql
DROP TABLE IF EXISTS NIBRS_Relationship Cascade;

CREATE TABLE NIBRS_Relationship(
  Relationship_ID numeric(4) NOT NULL,
  Relationship_Code char(2) NULL,
  Relationship_Name varchar(100) NULL,
  PRIMARY KEY (Relationship_ID)
);

 * postgresql://student@/assignment2
Done.
Done.

[]

In [41]:
%%sql

COMMENT ON TABLE NIBRS_Relationship IS
'Relationship table: holds information on relationships between entities, such as a unique identifier, a code for the type of relationship, and a descriptive name';

 * postgresql://student@/assignment2
Done.

[]

In [42]:
%%sql
SELECT obj_description(oid, 'pg_class')
FROM pg_class
WHERE upper(relname) = 'NIBRS_RELATIONSHIP';

 * postgresql://student@/assignment2
1 rows affected.

[('Relationship table: holds information on relationships between entities, such as a unique identifier, a code for the type of relationship, and a descriptive name',)]

In [43]:
%%sql
COMMENT ON COLUMN NIBRS_Relationship.Relationship_ID IS 'Internal ID of the relationship';
COMMENT ON COLUMN NIBRS_Relationship.Relationship_Code IS 'Relationship code';
COMMENT ON COLUMN NIBRS_Relationship.Relationship_Name IS 'Relationship name';

 * postgresql://student@/assignment2
Done.
Done.
Done.

[]

In [44]:
%%sql
SELECT cols.column_name,
pg_catalog.col_description(c.oid, cols.ordinal_position::int)
FROM pg_catalog.pg_class c, information_schema.columns cols
 WHERE cols.table_name = c.relname  and upper(relname) = 'NIBRS_RELATIONSHIP';

 * postgresql://student@/assignment2
3 rows affected.

[('relationship_id', 'Internal ID of the relationship'),
 ('relationship_code', 'Relationship code'),
 ('relationship_name', 'Relationship name')]

In [45]:
!csvcut -n ~/notebooks/NIBRS_RELATIONSHIP.csv

  1: relationship_id
  2: relationship_code
  3: relationship_name

In [46]:
%%sql
COPY NIBRS_RELATIONSHIP FROM '/home/ubuntu/notebooks/NIBRS_RELATIONSHIP.csv'
CSV
HEADER;

 * postgresql://student@/assignment2
27 rows affected.

[]

In [47]:
%%sql
SELECT *
FROM NIBRS_Relationship

 * postgresql://student@/assignment2
27 rows affected.

[(Decimal('1'), 'AQ', 'Victim Was Acquaintance'),
 (Decimal('2'), 'BE', 'Victim Was Babysittee'),
 (Decimal('3'), 'BG', 'Victim Was Boyfriend/Girlfriend'),
 (Decimal('4'), 'CF', 'Victim Was Child of Boyfriend or Girlfriend'),
 (Decimal('5'), 'CH', 'Victim Was Child'),
 (Decimal('6'), 'CS', 'Victim Was Common-Law Spouse'),
 (Decimal('7'), 'EE', 'Victim was Employee'),
 (Decimal('8'), 'ER', 'Victim was Employer'),
 (Decimal('9'), 'FR', 'Victim Was Friend'),
 (Decimal('10'), 'GC', 'Victim Was Grandchild'),
 (Decimal('11'), 'GP', 'Victim Was Grandparent'),
 (Decimal('12'), 'HR', 'Homosexual Relationship'),
 (Decimal('13'), 'IL', 'Victim Was In-law'),
 (Decimal('14'), 'NE', 'Victim Was Neighbor'),
 (Decimal('15'), 'OF', 'Victim Was Other Family Member'),
 (Decimal('16'), 'OK', 'Victim was Otherwise Known'),
 (Decimal('17'), 'PA', 'Victim Was Parent'),
 (Decimal('18'), 'RU', 'Relationship Unknown'),
 (Decimal('19'), 'SB', 'Victim Was Sibling'),
 (Decimal('20'), 'SC', 'Victim Was Stepchild'),
 (Decimal('21'), 'SE', 'Victim Was Spouse'),
 (Decimal('22'), 'SP', 'Victim Was Stepparent'),
 (Decimal('23'), 'SS', 'Victim Was Stepsibling'),
 (Decimal('24'), 'ST', 'Victim Was Stranger'),
 (Decimal('25'), 'VO', 'Victim Was Offender'),
 (Decimal('26'), 'XS', 'Victim was Ex-Spouse'),
 (Decimal('27'), 'XR', 'Victim Was Ex-Relationship (Ex-Boyfriend/Girlfriend)')]

In [48]:
%%sql
SELECT COUNT(*) FROM NIBRS_Relationship

 * postgresql://student@/assignment2
1 rows affected.

[(27,)]

!csvcut NIBRS_RELATIONSHIP.csv | csvstat

In [49]:
!xsv count NIBRS_RELATIONSHIP.csv

27

* We decided to use xsv instead of csvcut to run it more efficiently.

#### Create table of Race.

In [50]:
%%sql
DROP TABLE IF EXISTS Ref_Race Cascade;

CREATE TABLE Ref_Race(
  Race_ID numeric(2) NOT NULL,
  Race_Code varchar(2) NOT NULL,
  Race_Desc varchar (100) NOT NULL,
  PRIMARY KEY (Race_ID)
);

 * postgresql://student@/assignment2
Done.
Done.

[]

In [51]:
%%sql
COMMENT ON TABLE Ref_Race IS
'Ref Race table: holds information about race categories, such as a unique identifier, a code representing the race, and a descriptive explanation of that specific race category';

 * postgresql://student@/assignment2
Done.

[]

In [52]:
%%sql
SELECT obj_description(oid, 'pg_class')
FROM pg_class
WHERE upper(relname) = 'REF_RACE';

 * postgresql://student@/assignment2
1 rows affected.

[('Ref Race table: holds information about race categories, such as a unique identifier, a code representing the race, and a descriptive explanation of that specific race category',)]

In [53]:
%%sql
COMMENT ON COLUMN Ref_Race.Race_ID IS 'The race of an individual';
COMMENT ON COLUMN Ref_Race.Race_Code IS 'The race code of an individual';
COMMENT ON COLUMN Ref_Race.Race_Desc IS 'The race description of an individual';

 * postgresql://student@/assignment2
Done.
Done.
Done.

[]

In [54]:
%%sql
SELECT cols.column_name,
pg_catalog.col_description(c.oid, cols.ordinal_position::int)
FROM pg_catalog.pg_class c, information_schema.columns cols
 WHERE cols.table_name = c.relname  and upper(relname) = 'REF_RACE';

 * postgresql://student@/assignment2
3 rows affected.

[('race_id', 'The race of an individual'),
 ('race_code', 'The race code of an individual'),
 ('race_desc', 'The race description of an individual')]

In [55]:
!csvcut -n ~/notebooks/REF_RACE.csv

  1: race_id
  2: race_code
  3: race_desc
  4: sort_order
  5: start_year
  6: end_year
  7: notes

In [56]:
!csvcut -c 1,2,3 /home/ubuntu/notebooks/REF_RACE.csv > /home/ubuntu/notebooks/REF_RACE_F.csv

In [57]:
%%sql
COPY Ref_Race FROM '/home/ubuntu/notebooks/REF_RACE_F.csv'
CSV
HEADER

 * postgresql://student@/assignment2
12 rows affected.

[]

In [58]:
%%sql
SELECT *
FROM Ref_Race;

 * postgresql://student@/assignment2
12 rows affected.

[(Decimal('98'), 'U', 'Unknown'),
 (Decimal('10'), 'W', 'White'),
 (Decimal('20'), 'B', 'Black or African American'),
 (Decimal('30'), 'I', 'American Indian or Alaska Native'),
 (Decimal('40'), 'A', 'Asian'),
 (Decimal('41'), 'AP', 'Asian, Native Hawaiian, or Other Pacific Islander'),
 (Decimal('42'), 'C', 'Chinese'),
 (Decimal('43'), 'J', 'Japanese'),
 (Decimal('50'), 'P', 'Native Hawaiian or Other Pacific Islander'),
 (Decimal('60'), 'O', 'Other'),
 (Decimal('70'), 'M', 'Multiple'),
 (Decimal('99'), 'NS', 'Not Specified')]

In [59]:
%%sql
SELECT COUNT(*) FROM Ref_Race

 * postgresql://student@/assignment2
1 rows affected.

[(12,)]

!csvcut REF_RACE_F.csv | csvstat

In [60]:
!xsv count REF_RACE_F.csv

12

* We decided to use xsv instead of csvcut to run it more efficiently.

#### Create table of Victim Type.

In [61]:
%%sql
DROP TABLE IF EXISTS NIBRS_Victim_Type Cascade;

CREATE TABLE NIBRS_Victim_Type(
  Victim_Type_ID numeric(4) NOT NULL,
  Victim_Type_Code varchar(1)  NULL,
  Victim_Type_Name varchar(100)  NULL,
  PRIMARY KEY (Victim_Type_ID)
);

 * postgresql://student@/assignment2
Done.
Done.

[]

In [62]:
%%sql
COMMENT ON TABLE NIBRS_Victim_Type IS
'Victim Type table: holds information about many victim categories, including a unique identifier, a code indicating the victim type, and a descriptive term for that category';

 * postgresql://student@/assignment2
Done.

[]

In [63]:
%%sql
SELECT obj_description(oid, 'pg_class')
FROM pg_class
WHERE upper(relname) = 'NIBRS_VICTIM_TYPE';

 * postgresql://student@/assignment2
1 rows affected.

[('Victim Type table: holds information about many victim categories, including a unique identifier, a code indicating the victim type, and a descriptive term for that category',)]

In [64]:
%%sql
COMMENT ON COLUMN NIBRS_Victim_Type.Victim_Type_ID IS 'Internal ID for the victim type';
COMMENT ON COLUMN NIBRS_Victim_Type.Victim_Type_Code IS 'NIBRS code for the victim type from tech spec';
COMMENT ON COLUMN NIBRS_Victim_Type.Victim_Type_Name IS 'Victim type name from the tech spec';

 * postgresql://student@/assignment2
Done.
Done.
Done.

[]

In [65]:
%%sql
SELECT cols.column_name,
pg_catalog.col_description(c.oid, cols.ordinal_position::int)
FROM pg_catalog.pg_class c, information_schema.columns cols
 WHERE cols.table_name = c.relname  and upper(relname) = 'NIBRS_VICTIM_TYPE';

 * postgresql://student@/assignment2
3 rows affected.

[('victim_type_id', 'Internal ID for the victim type'),
 ('victim_type_code', 'NIBRS code for the victim type from tech spec'),
 ('victim_type_name', 'Victim type name from the tech spec')]

In [66]:
!csvcut -n NIBRS_VICTIM_TYPE.csv

  1: victim_type_id
  2: victim_type_code
  3: victim_type_name

In [67]:
%%sql
COPY NIBRS_Victim_Type FROM '/home/ubuntu/notebooks/NIBRS_VICTIM_TYPE.csv'
CSV
HEADER

 * postgresql://student@/assignment2
9 rows affected.

[]

In [68]:
%%sql
SELECT *
FROM NIBRS_Victim_Type;

 * postgresql://student@/assignment2
9 rows affected.

[(Decimal('1'), 'B', 'Business'),
 (Decimal('2'), 'F', 'Financial Institution'),
 (Decimal('3'), 'G', 'Government'),
 (Decimal('4'), 'I', 'Individual'),
 (Decimal('5'), 'L', 'Law Enforcement Officer'),
 (Decimal('6'), 'O', 'Other'),
 (Decimal('7'), 'R', 'Religious Organization'),
 (Decimal('8'), 'S', 'Society/Public'),
 (Decimal('9'), 'U', 'Unknown')]

In [69]:
%%sql
SELECT COUNT(*) FROM NIBRS_Victim_Type

 * postgresql://student@/assignment2
1 rows affected.

[(9,)]

!csvcut NIBRS_VICTIM_TYPE.csv | csvstat

In [70]:
!xsv count NIBRS_VICTIM_TYPE.csv

9

* We decided to use xsv instead of csvcut to run it more efficiently.

#### Create table of Incident.

Dictionary: Age_Num Numeric(3). But assigned csv has characters. Thus, changed to varchar(10)
Age_Num varchar(10)

In [71]:
%%sql
DROP TABLE IF EXISTS NIBRS_Incident Cascade;

CREATE TABLE NIBRS_Incident(
  Agency_ID numeric(10) NOT NULL,
  Incident_ID numeric(10) NOT NULL,
  Incident_Date date NULL,
  Incident_Hour numeric(2) NULL,
  PRIMARY KEY (Incident_ID)
);

 * postgresql://student@/assignment2
Done.
Done.

[]

In [72]:
%%sql
COMMENT ON TABLE NIBRS_Incident IS
'Incident table: holds information about all the incidents that took place with an incident date and incident hour';

 * postgresql://student@/assignment2
Done.

[]

In [73]:
%%sql
SELECT obj_description(oid, 'pg_class')
FROM pg_class
WHERE upper(relname) = 'NIBRS_INCIDENT';

 * postgresql://student@/assignment2
1 rows affected.

[('Incident table: holds information about all the incidents that took place with an incident date and incident hour',)]

In [74]:
%%sql
COMMENT ON COLUMN NIBRS_Incident.Agency_ID IS 'Internal agency ID which references REF_AGENCY';
COMMENT ON COLUMN NIBRS_Incident.Incident_ID IS 'Internal unique incident ID';
COMMENT ON COLUMN NIBRS_Incident.Incident_Date IS 'When the incident occurred or the beginning of the time-period in which it occurred';
COMMENT ON COLUMN NIBRS_Incident.Incident_Hour IS 'The hour when the incident occurred or the beginning of the time period in which it occurred';

 * postgresql://student@/assignment2
Done.
Done.
Done.
Done.

[]

In [75]:
%%sql
SELECT cols.column_name,
pg_catalog.col_description(c.oid, cols.ordinal_position::int)
FROM pg_catalog.pg_class c, information_schema.columns cols
 WHERE cols.table_name = c.relname  and upper(relname) = 'NIBRS_INCIDENT';

 * postgresql://student@/assignment2
4 rows affected.

[('agency_id', 'Internal agency ID which references REF_AGENCY'),
 ('incident_id', 'Internal unique incident ID'),
 ('incident_date', 'When the incident occurred or the beginning of the time-period in which it occurred'),
 ('incident_hour', 'The hour when the incident occurred or the beginning of the time period in which it occurred')]

In [76]:
!csvcut -n NIBRS_incident.csv

  1: data_year
  2: agency_id
  3: incident_id
  4: nibrs_month_id
  5: cargo_theft_flag
  6: submission_date
  7: incident_date
  8: report_date_flag
  9: incident_hour
 10: cleared_except_id
 11: cleared_except_date
 12: incident_status
 13: data_home
 14: orig_format
 15: did

In [77]:
!csvcut -c 2,3,7,9 /home/ubuntu/notebooks/NIBRS_incident.csv > /home/ubuntu/notebooks/NIBRS_incident_F.csv

In [78]:
!csvcut -n NIBRS_incident_F.csv

  1: agency_id
  2: incident_id
  3: incident_date
  4: incident_hour

In [79]:
%%sql

COPY NIBRS_Incident FROM '/home/ubuntu/notebooks/NIBRS_incident_F.csv'
CSV
HEADER;

 * postgresql://student@/assignment2
118176 rows affected.

[]

%%sql
SELECT * FROM NIBRS_Incident;

* The above command was changed to markdown, because it would take a long time to run due to the number of rows it contains. It is for reference.

In [80]:
%%sql
SELECT COUNT(*) FROM NIBRS_Incident

 * postgresql://student@/assignment2
1 rows affected.

[(118176,)]

!csvcut NIBRS_incident_F.csv | csvstat

In [81]:
!xsv count NIBRS_incident_F.csv

118176

* We decided to use xsv instead of csvcut to run it more efficiently.

#### Create table of Victim.

In [82]:
%%sql
DROP TABLE IF EXISTS NIBRS_Victim Cascade;

CREATE TABLE NIBRS_Victim(
  Victim_ID numeric(10) NOT NULL,
  Incident_ID numeric(10) NOT NULL,
  Victim_Seq_Num numeric(3)  NULL,
  Victim_Type_ID numeric(4) NOT NULL,
  Age_Num varchar(10) NULL,
  Sex_Code char(1) NULL,
  Race_ID numeric(4) NULL,
  Ethnicity_ID numeric(4) NULL,
    
  PRIMARY KEY (Victim_ID),
  FOREIGN KEY (Incident_ID) REFERENCES NIBRS_Incident(Incident_ID),
  FOREIGN KEY (Victim_Type_ID) REFERENCES NIBRS_Victim_Type(Victim_Type_ID),
  FOREIGN KEY (Race_ID) REFERENCES Ref_Race(Race_ID),
  FOREIGN KEY (Ethnicity_ID) REFERENCES NIBRS_Ethnicity(Ethnicity_ID)
);

 * postgresql://student@/assignment2
Done.
Done.

[]

In [83]:
%%sql
COMMENT ON TABLE NIBRS_Victim IS
'Victim table: holds information on victims, such as unique identifiers, incident ids, victim sequence numbers, victim type identifiers, age, gender, race, and ethnicity';

 * postgresql://student@/assignment2
Done.

[]

In [84]:
%%sql
SELECT obj_description(oid, 'pg_class')
FROM pg_class
WHERE upper(relname) = 'NIBRS_VICTIM';

 * postgresql://student@/assignment2
1 rows affected.

[('Victim table: holds information on victims, such as unique identifiers, incident ids, victim sequence numbers, victim type identifiers, age, gender, race, and ethnicity',)]

In [85]:
%%sql
COMMENT ON COLUMN NIBRS_Victim.Victim_ID IS 'Internal ID of the victim';
COMMENT ON COLUMN NIBRS_Victim.Incident_ID IS 'Reference to the Incident';
COMMENT ON COLUMN NIBRS_Victim.Victim_Seq_Num IS 'A sequence number for each victim in an incident';
COMMENT ON COLUMN NIBRS_Victim.Victim_Type_ID IS 'Used to categorize the victim associated with the incident';
COMMENT ON COLUMN NIBRS_Victim.Age_Num IS 'The age in years of an individual victim when the reported crime occurred';
COMMENT ON COLUMN NIBRS_Victim.Sex_Code IS 'The sex (gender) of an individual victim';
COMMENT ON COLUMN NIBRS_Victim.Race_ID IS 'The race of an individual victim';
COMMENT ON COLUMN NIBRS_Victim.Ethnicity_ID IS 'The ethnicity of an individual victim when Type of Victim is Individual or Law Enforcement Officer  and references NIBRS_ETHNICITY';

 * postgresql://student@/assignment2
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [86]:
%%sql
SELECT cols.column_name,
pg_catalog.col_description(c.oid, cols.ordinal_position::int)
FROM pg_catalog.pg_class c, information_schema.columns cols
 WHERE cols.table_name = c.relname  and upper(relname) = 'NIBRS_VICTIM';

 * postgresql://student@/assignment2
8 rows affected.

[('victim_id', 'Internal ID of the victim'),
 ('incident_id', 'Reference to the Incident'),
 ('victim_seq_num', 'A sequence number for each victim in an incident'),
 ('victim_type_id', 'Used to categorize the victim associated with the incident'),
 ('age_num', 'The age in years of an individual victim when the reported crime occurred'),
 ('sex_code', 'The sex (gender) of an individual victim'),
 ('race_id', 'The race of an individual victim'),
 ('ethnicity_id', 'The ethnicity of an individual victim when Type of Victim is Individual or Law Enforcement Officer  and references NIBRS_ETHNICITY')]

In [87]:
!csvcut -n NIBRS_VICTIM.csv

  1: data_year
  2: victim_id
  3: incident_id
  4: victim_seq_num
  5: victim_type_id
  6: assignment_type_id
  7: activity_type_id
  8: outside_agency_id
  9: age_id
 10: age_num
 11: sex_code
 12: race_id
 13: ethnicity_id
 14: resident_status_code
 15: age_range_low_num
 16: age_code_range_high

In [88]:
!csvcut -c 2,3,4,5,10,11,12,13 /home/ubuntu/notebooks/NIBRS_VICTIM.csv > /home/ubuntu/notebooks/NIBRS_VICTIM_F.csv

In [89]:
!csvcut -n NIBRS_VICTIM_F.csv

  1: victim_id
  2: incident_id
  3: victim_seq_num
  4: victim_type_id
  5: age_num
  6: sex_code
  7: race_id
  8: ethnicity_id

In [90]:
%%sql

COPY NIBRS_Victim FROM '/home/ubuntu/notebooks/NIBRS_VICTIM_F.csv'
CSV
HEADER;

 * postgresql://student@/assignment2
133987 rows affected.

[]

%%sql 
SELECT * FROM NIBRS_Victim

* The above command was changed to markdown, because it would take a long time to run due to the number of rows it contains. It is for reference.

In [91]:
%%sql
SELECT COUNT(*) FROM NIBRS_Victim

 * postgresql://student@/assignment2
1 rows affected.

[(133987,)]

!csvcut NIBRS_VICTIM_F.csv | csvstat

In [92]:
!xsv count NIBRS_VICTIM_F.csv

133987

* We decided to use xsv instead of csvcut to run it more efficiently.

#### Create table of Offense

In [93]:
%%sql
DROP TABLE IF EXISTS NIBRS_Offense Cascade;

CREATE TABLE NIBRS_Offense(
  Offense_ID numeric(10) NOT NULL,
  Incident_ID numeric(10) NOT NULL,
  Offense_Code varchar(5) NOT NULL,
  Location_ID numeric(10) NOT NULL,
    
  PRIMARY KEY (Offense_ID),
  FOREIGN KEY (Incident_ID) REFERENCES NIBRS_Incident(Incident_ID),
  FOREIGN KEY (Offense_Code) REFERENCES NIBRS_Offense_Type(Offense_Code),
  FOREIGN KEY (Location_ID) REFERENCES NIBRS_Location_Type(Location_ID)
);

 * postgresql://student@/assignment2
Done.
Done.

[]

In [94]:
%%sql
COMMENT ON TABLE NIBRS_Offense IS
'Offense table: holds information about offenses including a unique identifier, an offense code, the event linked with the offense, and the location where the offense happened';

 * postgresql://student@/assignment2
Done.

[]

In [95]:
%%sql
SELECT obj_description(oid, 'pg_class')
FROM pg_class
WHERE upper(relname) = 'NIBRS_OFFENSE';

 * postgresql://student@/assignment2
1 rows affected.

[('Offense table: holds information about offenses including a unique identifier, an offense code, the event linked with the offense, and the location where the offense happened',)]

In [96]:
%%sql
COMMENT ON COLUMN NIBRS_Offense.Offense_ID IS 'Internal unique ID for offense';
COMMENT ON COLUMN NIBRS_Offense.Incident_ID IS 'Reference to parent Incident';
COMMENT ON COLUMN NIBRS_Offense.Offense_Code IS 'Offense code from the tech spec';
COMMENT ON COLUMN NIBRS_Offense.Location_ID IS 'Reference to the type of location/premises where each offense took place';

 * postgresql://student@/assignment2
Done.
Done.
Done.
Done.

[]

In [97]:
%%sql
SELECT cols.column_name,
pg_catalog.col_description(c.oid, cols.ordinal_position::int)
FROM pg_catalog.pg_class c, information_schema.columns cols
 WHERE cols.table_name = c.relname  and upper(relname) = 'NIBRS_OFFENSE';

 * postgresql://student@/assignment2
4 rows affected.

[('offense_id', 'Internal unique ID for offense'),
 ('incident_id', 'Reference to parent Incident'),
 ('offense_code', 'Offense code from the tech spec'),
 ('location_id', 'Reference to the type of location/premises where each offense took place')]

In [98]:
!csvcut -n NIBRS_OFFENSE.csv

  1: data_year
  2: offense_id
  3: incident_id
  4: offense_code
  5: attempt_complete_flag
  6: location_id
  7: num_premises_entered
  8: method_entry_code

In [99]:
!csvcut -c 2,3,4,6 NIBRS_OFFENSE.csv > NIBRS_OFFENSE_F.csv

In [100]:
!csvcut -n NIBRS_OFFENSE_F.csv

  1: offense_id
  2: incident_id
  3: offense_code
  4: location_id

In [101]:
%%sql

COPY NIBRS_Offense FROM '/home/ubuntu/notebooks/NIBRS_OFFENSE_F.csv'
CSV
HEADER;

 * postgresql://student@/assignment2
136848 rows affected.

[]

%%sql 
SELECT * FROM NIBRS_Offense

* The above command was changed to markdown, because it would take a long time to run due to the number of rows it contains. It is for reference.

In [102]:
%%sql 
SELECT COUNT(*) FROM NIBRS_Offense

 * postgresql://student@/assignment2
1 rows affected.

[(136848,)]

!csvcut NIBRS_OFFENSE_F.csv | csvstat

In [103]:
!xsv count NIBRS_OFFENSE_F.csv

136848

* We decided to use xsv instead of csvcut to run it more efficiently.

#### Create table of Offender.

Changed Age_Num to varchar(10)

In [104]:
%%sql
DROP TABLE IF EXISTS NIBRS_Offender Cascade;

CREATE TABLE NIBRS_Offender(
  Offender_ID numeric(10) NOT NULL,
  Incident_ID numeric(10) NOT NULL,
  Offender_Seq_Num numeric(3) NULL,
  Age_Num varchar(10) NULL,
  Sex_Code char(1) NULL,
  Race_ID numeric(4) NULL, 
  Ethnicity_ID numeric(4) NULL,
    
  PRIMARY KEY (Offender_ID),
  FOREIGN KEY (Incident_ID) REFERENCES NIBRS_Incident(Incident_ID),
  FOREIGN KEY (Race_ID) REFERENCES Ref_Race(Race_ID),
  FOREIGN KEY (Ethnicity_ID) REFERENCES NIBRS_Ethnicity(Ethnicity_ID)
);

 * postgresql://student@/assignment2
Done.
Done.

[]

In [105]:
%%sql
COMMENT ON TABLE NIBRS_Offender IS
'Offender table: holds information about the individuals involved in events, such as unique identifiers, incident associations, offender sequence numbers, age, gender, race, and ethnicity';

 * postgresql://student@/assignment2
Done.

[]

In [106]:
%%sql
SELECT obj_description(oid, 'pg_class')
FROM pg_class
WHERE upper(relname) = 'NIBRS_OFFENDER';

 * postgresql://student@/assignment2
1 rows affected.

[('Offender table: holds information about the individuals involved in events, such as unique identifiers, incident associations, offender sequence numbers, age, gender, race, and ethnicity',)]

In [107]:
%%sql
COMMENT ON COLUMN NIBRS_Offender.Offender_ID IS 'Unique ID of the Offender';
COMMENT ON COLUMN NIBRS_Offender.Incident_ID IS 'Reference to Incident';
COMMENT ON COLUMN NIBRS_Offender.Offender_Seq_Num IS 'Sequence number from for each offender in an incident';
COMMENT ON COLUMN NIBRS_Offender.Age_Num IS 'The age in years of an offender when the reported crime occurred';
COMMENT ON COLUMN NIBRS_Offender.Sex_Code IS 'The  gender of an offender';
COMMENT ON COLUMN NIBRS_Offender.Race_ID IS 'The race of an individual victim';
COMMENT ON COLUMN NIBRS_Offender.Ethnicity_ID IS 'The ethnicity of an offender';

 * postgresql://student@/assignment2
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [108]:
%%sql
SELECT cols.column_name,
pg_catalog.col_description(c.oid, cols.ordinal_position::int)
FROM pg_catalog.pg_class c, information_schema.columns cols
 WHERE cols.table_name = c.relname  and upper(relname) = 'NIBRS_OFFENDER';

 * postgresql://student@/assignment2
7 rows affected.

[('offender_id', 'Unique ID of the Offender'),
 ('incident_id', 'Reference to Incident'),
 ('offender_seq_num', 'Sequence number from for each offender in an incident'),
 ('age_num', 'The age in years of an offender when the reported crime occurred'),
 ('sex_code', 'The  gender of an offender'),
 ('race_id', 'The race of an individual victim'),
 ('ethnicity_id', 'The ethnicity of an offender')]

In [109]:
!csvcut -n NIBRS_OFFENDER.csv

  1: data_year
  2: offender_id
  3: incident_id
  4: offender_seq_num
  5: age_id
  6: age_num
  7: sex_code
  8: race_id
  9: ethnicity_id
 10: age_range_low_num
 11: age_range_high_num

In [110]:
!csvcut -c 2,3,4,6,7,8,9 /home/ubuntu/notebooks/NIBRS_OFFENDER.csv > /home/ubuntu/notebooks/NIBRS_OFFENDER_F.csv

In [111]:
!csvcut -n NIBRS_OFFENDER_F.csv

  1: offender_id
  2: incident_id
  3: offender_seq_num
  4: age_num
  5: sex_code
  6: race_id
  7: ethnicity_id

In [112]:
%%sql

COPY NIBRS_Offender FROM '/home/ubuntu/notebooks/NIBRS_OFFENDER_F.csv'
CSV
HEADER;

 * postgresql://student@/assignment2
131342 rows affected.

[]

%%sql
SELECT * FROM NIBRS_Offender

* The above command was changed to markdown, because it would take a long time to run due to the number of rows it contains. It is for reference.

In [113]:
%%sql
SELECT COUNT(*) FROM NIBRS_Offender

 * postgresql://student@/assignment2
1 rows affected.

[(131342,)]

!csvcut NIBRS_OFFENDER_F.csv | csvstat

In [114]:
!xsv count NIBRS_OFFENDER_F.csv

131342

* We decided to use xsv instead of csvcut to run it more efficiently.

#### Create table of Arrestee.

* There is no Offense Type ID on csv file. Changed to Offense code. 
* We also observed that in the “NIBRS_Arrestee” csv file, there isnt “Offense_Type_ID”, there is only “Offense_Code”.

In [115]:
%%sql
DROP TABLE IF EXISTS NIBRS_Arrestee Cascade;

CREATE TABLE NIBRS_Arrestee
(
  Arrestee_ID numeric(10) NOT NULL,
  Incident_ID numeric(10) NOT NULL,
  Arrestee_Seq_Num numeric(10) NULL,
  Arrest_Date date NULL,
  Arrest_Type_ID numeric(10) NULL,
  Offense_Code varchar(5) NOT NULL,
  Age_Num varchar(10) NULL,
  Sex_Code char(1) NULL,
  Race_ID numeric(4) NOT NULL,
  Ethnicity_ID numeric(4) NULL,

  PRIMARY KEY (Arrestee_ID),
  FOREIGN KEY (Incident_ID) REFERENCES NIBRS_Incident(Incident_ID),
  FOREIGN KEY (Offense_Code) REFERENCES NIBRS_Offense_Type(Offense_Code),
  FOREIGN KEY (Race_ID) REFERENCES Ref_Race(Race_ID),
  FOREIGN KEY (Ethnicity_ID) REFERENCES NIBRS_Ethnicity(Ethnicity_ID)
);

 * postgresql://student@/assignment2
Done.
Done.

[]

In [116]:
%%sql
COMMENT ON TABLE NIBRS_Arrestee IS
'Arrestee table: holds information on individuals who have been arrested in incidents, such as unique identifiers, incident associations, arrest sequence numbers, arrest dates, arrest types, offense codes, and age, gender, race, and ethnicity information';

 * postgresql://student@/assignment2
Done.

[]

In [117]:
%%sql
SELECT obj_description(oid, 'pg_class')
FROM pg_class
WHERE upper(relname) = 'NIBRS_ARRESTEE';

 * postgresql://student@/assignment2
1 rows affected.

[('Arrestee table: holds information on individuals who have been arrested in incidents, such as unique identifiers, incident associations, arrest sequence numbers, arrest dates, arrest types, offense codes, and age, gender, race, and ethnicity information',)]

In [118]:
%%sql
COMMENT ON COLUMN NIBRS_Arrestee.Arrestee_ID IS 'Internal ID for the Arrestee';
COMMENT ON COLUMN NIBRS_Arrestee.Incident_ID IS 'Reference to incident';
COMMENT ON COLUMN NIBRS_Arrestee.Arrestee_Seq_Num IS 'Sequence number assigned to each arrestee in the incident';
COMMENT ON COLUMN NIBRS_Arrestee.Arrest_Date IS 'The date of the arrest';
COMMENT ON COLUMN NIBRS_Arrestee.Arrest_Type_ID IS 'How the offender was arrested';
COMMENT ON COLUMN NIBRS_Arrestee.Offense_Code IS 'NIBRS Offense Code';
COMMENT ON COLUMN NIBRS_Arrestee.Age_Num IS 'The age in years of an individual arrestee';
COMMENT ON COLUMN NIBRS_Arrestee.Sex_Code IS 'The gender of an individual arrestee';
COMMENT ON COLUMN NIBRS_Arrestee.Race_ID IS 'The race of an individual arrestee';
COMMENT ON COLUMN NIBRS_Arrestee.Ethnicity_ID IS 'The ethnicity of an individual arrestee';

 * postgresql://student@/assignment2
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [119]:
%%sql
SELECT cols.column_name,
pg_catalog.col_description(c.oid, cols.ordinal_position::int)
FROM pg_catalog.pg_class c, information_schema.columns cols
 WHERE cols.table_name = c.relname  and upper(relname) = 'NIBRS_ARRESTEE';

 * postgresql://student@/assignment2
10 rows affected.

[('arrestee_id', 'Internal ID for the Arrestee'),
 ('incident_id', 'Reference to incident'),
 ('arrestee_seq_num', 'Sequence number assigned to each arrestee in the incident'),
 ('arrest_date', 'The date of the arrest'),
 ('arrest_type_id', 'How the offender was arrested'),
 ('offense_code', 'NIBRS Offense Code'),
 ('age_num', 'The age in years of an individual arrestee'),
 ('sex_code', 'The gender of an individual arrestee'),
 ('race_id', 'The race of an individual arrestee'),
 ('ethnicity_id', 'The ethnicity of an individual arrestee')]

In [120]:
!csvcut -n NIBRS_ARRESTEE.csv

  1: data_year
  2: arrestee_id
  3: incident_id
  4: arrestee_seq_num
  5: arrest_date
  6: arrest_type_id
  7: multiple_indicator
  8: offense_code
  9: age_id
 10: age_num
 11: sex_code
 12: race_id
 13: ethnicity_id
 14: resident_code
 15: under_18_disposition_code
 16: clearance_ind
 17: age_range_low_num
 18: age_range_high_num

In [121]:
!csvcut -c 2,3,4,5,6,8,10,11,12,13 NIBRS_ARRESTEE.csv > NIBRS_ARRESTEE_F.csv

In [122]:
!csvcut -n NIBRS_ARRESTEE_F.csv

  1: arrestee_id
  2: incident_id
  3: arrestee_seq_num
  4: arrest_date
  5: arrest_type_id
  6: offense_code
  7: age_num
  8: sex_code
  9: race_id
 10: ethnicity_id

In [123]:
%%sql

COPY NIBRS_Arrestee FROM '/home/ubuntu/notebooks/NIBRS_ARRESTEE_F.csv'
CSV
HEADER;

 * postgresql://student@/assignment2
39567 rows affected.

[]

%%sql
SELECT * FROM NIBRS_Arrestee

* The above command was changed to markdown, because it would take a long time to run due to the number of rows it contains. It is for reference.

In [124]:
%%sql
SELECT COUNT(*) FROM NIBRS_Arrestee

 * postgresql://student@/assignment2
1 rows affected.

[(39567,)]

!csvcut NIBRS_ARRESTEE_F.csv | csvstat

In [125]:
!xsv count NIBRS_ARRESTEE_F.csv

39567

* We decided to use xsv instead of csvcut to run it more efficiently.

#### Create table of Victim-Offender Relationship.

In [126]:
%%sql
DROP TABLE IF EXISTS NIBRS_Victim_Offender_Rel Cascade;

CREATE TABLE NIBRS_Victim_Offender_Rel(
  Victim_ID numeric(10) NOT NULL,
  Offender_ID numeric(10) NOT NULL,
  Relationship_ID numeric(4) NOT NULL,

  FOREIGN KEY (Victim_ID) REFERENCES NIBRS_VICTIM(victim_id),    
  FOREIGN KEY (Offender_ID) REFERENCES NIBRS_OFFENDER(offender_id),
  FOREIGN KEY (Relationship_ID) REFERENCES NIBRS_Relationship(Relationship_ID)
)

 * postgresql://student@/assignment2
Done.
Done.

[]

In [127]:
%%sql
COMMENT ON TABLE NIBRS_Victim_Offender_Rel IS
'Victim Offender Relationship table: holds information about victims and offenders, including victim and offender IDs  as well as a relationship identifier to indicate the specific link between them';

 * postgresql://student@/assignment2
Done.

[]

In [128]:
%%sql
SELECT obj_description(oid, 'pg_class')
FROM pg_class
WHERE upper(relname) = 'NIBRS_VICTIM_OFFENDER_REL';

 * postgresql://student@/assignment2
1 rows affected.

[('Victim Offender Relationship table: holds information about victims and offenders, including victim and offender IDs  as well as a relationship identifier to indicate the specific link between them',)]

In [129]:
%%sql
COMMENT ON COLUMN NIBRS_Victim_Offender_Rel.Victim_ID IS 'Reference to victim';
COMMENT ON COLUMN NIBRS_Victim_Offender_Rel.Offender_ID IS 'Reference to offender';
COMMENT ON COLUMN NIBRS_Victim_Offender_Rel.Relationship_ID IS 'Relationship type';

 * postgresql://student@/assignment2
Done.
Done.
Done.

[]

In [130]:
%%sql
SELECT cols.column_name,
pg_catalog.col_description(c.oid, cols.ordinal_position::int)
FROM pg_catalog.pg_class c, information_schema.columns cols
 WHERE cols.table_name = c.relname  and upper(relname) = 'NIBRS_VICTIM_OFFENDER_REL';

 * postgresql://student@/assignment2
3 rows affected.

[('victim_id', 'Reference to victim'),
 ('offender_id', 'Reference to offender'),
 ('relationship_id', 'Relationship type')]

In [131]:
!csvcut -n ~/notebooks/NIBRS_VICTIM_OFFENDER_REL.csv

  1: data_year
  2: victim_id
  3: offender_id
  4: relationship_id
  5: nibrs_victim_offender_id

In [132]:
!csvcut -c 2,3,4 /home/ubuntu/notebooks/NIBRS_VICTIM_OFFENDER_REL.csv > /home/ubuntu/notebooks/NIBRS_VICTIM_OFFENDER_REL_F.csv

In [133]:
%%sql
COPY NIBRS_Victim_Offender_Rel FROM '/home/ubuntu/notebooks/NIBRS_VICTIM_OFFENDER_REL_F.csv'
CSV
HEADER;

 * postgresql://student@/assignment2
39187 rows affected.

[]

%%sql 
SELECT * FROM NIBRS_Victim_Offender_Rel

* The above command was changed to markdown, because it would take a long time to run due to the number of rows it contains. It is for reference.

In [134]:
%%sql 
SELECT COUNT(*) FROM NIBRS_Victim_Offender_Rel

 * postgresql://student@/assignment2
1 rows affected.

[(39187,)]

!csvcut NIBRS_VICTIM_OFFENDER_REL_F.csv | csvstat

In [135]:
!xsv count NIBRS_VICTIM_OFFENDER_REL_F.csv

39187

* We decided to use xsv instead of csvcut to run it more efficiently.

#### Create table of Victim-Offense.

In [136]:
%%sql 
DROP TABLE IF EXISTS NIBRS_Victim_Offense Cascade;

CREATE TABLE NIBRS_Victim_Offense(
    Victim_ID numeric(10) NOT NULL,
    Offense_ID numeric(10) NOT NULL,
    
    FOREIGN KEY (Victim_ID) REFERENCES NIBRS_VICTIM(Victim_ID),
    FOREIGN KEY (Offense_ID) REFERENCES NIBRS_Offense(Offense_ID)
)

 * postgresql://student@/assignment2
Done.
Done.

[]

In [137]:
%%sql
COMMENT ON TABLE NIBRS_Victim_Offense IS
'Victim Offense table: holds information about the relationship between victims and specific offenses, primarily using victim IDs and offense identifiers';

 * postgresql://student@/assignment2
Done.

[]

In [138]:
%%sql
SELECT obj_description(oid, 'pg_class')
FROM pg_class
WHERE upper(relname) = 'NIBRS_VICTIM_OFFENSE';

 * postgresql://student@/assignment2
1 rows affected.

[('Victim Offense table: holds information about the relationship between victims and specific offenses, primarily using victim IDs and offense identifiers',)]

In [139]:
%%sql
COMMENT ON COLUMN NIBRS_Victim_Offense.Victim_ID IS 'Reference to Victim';
COMMENT ON COLUMN NIBRS_Victim_Offense.Offense_ID IS 'Reference to Offense';

 * postgresql://student@/assignment2
Done.
Done.

[]

In [140]:
%%sql
SELECT cols.column_name,
pg_catalog.col_description(c.oid, cols.ordinal_position::int)
FROM pg_catalog.pg_class c, information_schema.columns cols
 WHERE cols.table_name = c.relname  and upper(relname) = 'NIBRS_VICTIM_OFFENSE';

 * postgresql://student@/assignment2
2 rows affected.

[('victim_id', 'Reference to Victim'), ('offense_id', 'Reference to Offense')]

In [141]:
!csvcut -n NIBRS_VICTIM_OFFENSE.csv

  1: data_year
  2: victim_id
  3: offense_id

In [142]:
!csvcut -c 2,3 NIBRS_VICTIM_OFFENSE.csv > NIBRS_VICTIM_OFFENSE_F.csv

In [143]:
%%sql

COPY NIBRS_Victim_Offense FROM '/home/ubuntu/notebooks/NIBRS_VICTIM_OFFENSE_F.csv'
CSV
HEADER;

 * postgresql://student@/assignment2
148672 rows affected.

[]

%%sql
SELECT * FROM NIBRS_Victim_Offense

* The above command was changed to markdown, because it would take a long time to run due to the number of rows it contains. It is for reference.

In [144]:
%%sql
SELECT COUNT(*) FROM NIBRS_Victim_Offense

 * postgresql://student@/assignment2
1 rows affected.

[(148672,)]

!csvcut NIBRS_VICTIM_OFFENSE_F.csv | csvstat

In [145]:
!xsv count NIBRS_VICTIM_OFFENSE_F.csv

148672

* We decided to use xsv instead of csvcut to run it more efficiently.

## Problem 4: Basic Data Analysis

#### Part A: Write a query to determine the top 5 offenses and bottom 5 offenses in terms of the total number of offenses committed. In the query provide the Offense code, offense name, Offense category, and the number of offenses.

In [146]:
%%sql

SELECT NIBRS_Offense.offense_code, NIBRS_Offense_Type.offense_name, NIBRS_Offense_Type.offense_category_name, COUNT(NIBRS_Offense.Offense_Code) as num
FROM NIBRS_Offense_Type, NIBRS_Offense
WHERE NIBRS_Offense_Type.Offense_Code = NIBRS_Offense.Offense_code
GROUP BY NIBRS_Offense.offense_code, NIBRS_Offense_Type.offense_name, NIBRS_Offense_Type.offense_category_name
ORDER BY num Desc

 * postgresql://student@/assignment2
48 rows affected.

[('13B', 'Simple Assault', 'Assault Offenses', 17800),
 ('290', 'Destruction/Damage/Vandalism of Property', 'Destruction/Damage/Vandalism of Property', 14837),
 ('23F', 'Theft From Motor Vehicle', 'Larceny/Theft Offenses', 14521),
 ('35A', 'Drug/Narcotic Violations', 'Drug/Narcotic Offenses', 13868),
 ('23H', 'All Other Larceny', 'Larceny/Theft Offenses', 11535),
 ('240', 'Motor Vehicle Theft', 'Motor Vehicle Theft', 11272),
 ('35B', 'Drug Equipment Violations', 'Drug/Narcotic Offenses', 8126),
 ('13A', 'Aggravated Assault', 'Assault Offenses', 7456),
 ('220', 'Burglary/Breaking & Entering', 'Burglary/Breaking & Entering', 7103),
 ('23C', 'Shoplifting', 'Larceny/Theft Offenses', 3887),
 ('520', 'Weapon Law Violations', 'Weapon Law Violations', 3474),
 ('26C', 'Impersonation', 'Fraud Offenses', 3107),
 ('120', 'Robbery', 'Robbery', 2300),
 ('23G', 'Theft of Motor Vehicle Parts or Accessories', 'Larceny/Theft Offenses', 2266),
 ('280', 'Stolen Property Offenses', 'Stolen Property Offenses', 2064),
 ('26B', 'Credit Card/Automated Teller Machine Fraud', 'Fraud Offenses', 1980),
 ('13C', 'Intimidation', 'Assault Offenses', 1725),
 ('23D', 'Theft From Building', 'Larceny/Theft Offenses', 1599),
 ('26A', 'False Pretenses/Swindle/Confidence Game', 'Fraud Offenses', 1482),
 ('26F', 'Identity Theft', 'Fraud Offenses', 1296),
 ('11D', 'Fondling', 'Sex Offenses', 972),
 ('250', 'Counterfeiting/Forgery', 'Counterfeiting/Forgery', 960),
 ('11A', 'Rape', 'Sex Offenses', 656),
 ('100', 'Kidnapping/Abduction', 'Kidnapping/Abduction', 537),
 ('200', 'Arson', 'Arson', 407),
 ('40A', 'Prostitution', 'Prostitution Offenses', 359),
 ('270', 'Embezzlement', 'Embezzlement', 225),
 ('23B', 'Purse-snatching', 'Larceny/Theft Offenses', 164),
 ('210', 'Extortion/Blackmail', 'Extortion/Blackmail', 148),
 ('11C', 'Sexual Assault With An Object', 'Sex Offenses', 125),
 ('23A', 'Pocket-picking', 'Larceny/Theft Offenses', 123),
 ('09A', 'Murder and Nonnegligent Manslaughter', 'Homicide Offenses', 117),
 ('11B', 'Sodomy', 'Sex Offenses', 95),
 ('36B', 'Statutory Rape', 'Sex Offenses, Non-forcible', 81),
 ('370', 'Pornography/Obscene Material', 'Pornography/Obscene Material', 54),
 ('720', 'Animal Cruelty', 'Animal Cruelty', 40),
 ('23E', 'Theft From Coin-Operated Machine or Device', 'Larceny/Theft Offenses', 27),
 ('40B', 'Assisting or Promoting Prostitution', 'Prostitution Offenses', 21),
 ('49B', 'Flight to Avoid Prosecution', 'Other Offenses', 21),
 ('26G', 'Hacking/Computer Invasion', 'Fraud Offenses', 4),
 ('26D', 'Welfare Fraud', 'Fraud Offenses', 4),
 ('510', 'Bribery', 'Bribery', 2),
 ('09C', 'Justifiable Homicide', 'Homicide Offenses', 2),
 ('39C', 'Gambling Equipment Violation', 'Gambling Offenses', 2),
 ('39A', 'Betting/Wagering', 'Gambling Offenses', 1),
 ('09B', 'Negligent Manslaughter', 'Homicide Offenses', 1),
 ('39B', 'Operating/Promoting/Assisting Gambling', 'Gambling Offenses', 1),
 ('49A', 'Harboring Escapee/Concealing from Arrest', 'Other Offenses', 1)]

**Top 5 Offenses**: Simple Assault, Destruction/Damage/Vandalism of Property, Theft From Motor Vehicle, Drug/Narcotic Violations, All Other Larceny. 

**Bottom 5 Offenses**: Harboring Escapee/Conceling from Arres, Operation/Promoting/Assisting Gambling, Megligent Manslaughter, Betting/Wagering/ Gambling Equipment Violation

#### Part B: Write a query to find the distribution of victims by sex and race and offense location. Only include victims of type “Individual”. In the query, provide the sex, race, location, and count of offenses.

In [147]:
%%sql
SELECT NIBRS_Victim.Sex_Code, Ref_Race.Race_Desc, NIBRS_Location_Type.Location_Name, 
	COUNT(DISTINCT Offense_ID) AS count_of_offenses
FROM Ref_Race, NIBRS_Victim, NIBRS_Offense, NIBRS_Location_Type
WHERE NIBRS_Victim.victim_type_ID = 4
	AND Ref_Race.Race_ID = NIBRS_Victim.Race_ID
	AND NIBRS_Victim.Incident_ID = NIBRS_Offense.Incident_ID
	AND NIBRS_Offense.Location_ID = NIBRS_Location_Type.Location_ID
GROUP BY NIBRS_Victim.Sex_Code, Ref_Race.Race_Desc, NIBRS_Location_Type.Location_Name
ORDER BY count_of_offenses DESC

 * postgresql://student@/assignment2
358 rows affected.

[('F', 'White', 'Residence/Home', 15330),
 ('M', 'White', 'Residence/Home', 13508),
 ('M', 'White', 'Highway/Road/Alley/Street/Sidewalk', 9325),
 ('F', 'White', 'Highway/Road/Alley/Street/Sidewalk', 5484),
 ('M', 'White', 'Parking/Drop Lot/Garage', 5250),
 ('F', 'White', 'Parking/Drop Lot/Garage', 3877),
 ('M', 'Unknown', 'Highway/Road/Alley/Street/Sidewalk', 2238),
 ('M', 'White', 'Park/Playground', 2209),
 ('F', 'Black or African American', 'Residence/Home', 2023),
 ('M', 'White', 'Commercial/Office Building', 1548),
 ('M', 'Unknown', 'Residence/Home', 1525),
 ('M', 'White', 'Other/Unknown', 1518),
 ('M', 'Black or African American', 'Residence/Home', 1480),
 ('F', 'White', 'Park/Playground', 1359),
 ('F', 'Unknown', 'Residence/Home', 1343),
 ('F', 'White', 'Other/Unknown', 1310),
 ('F', 'Asian', 'Residence/Home', 1302),
 ('M', 'Unknown', 'Parking/Drop Lot/Garage', 1277),
 ('F', 'Unknown', 'Highway/Road/Alley/Street/Sidewalk', 1220),
 ('M', 'Asian', 'Residence/Home', 1143),
 ('M', 'Black or African American', 'Highway/Road/Alley/Street/Sidewalk', 1108),
 ('F', 'White', 'Commercial/Office Building', 1025),
 ('F', 'Unknown', 'Parking/Drop Lot/Garage', 1009),
 ('F', 'White', 'Hotel/Motel/Etc.', 983),
 ('M', 'White', 'Hotel/Motel/Etc.', 765),
 ('F', 'Black or African American', 'Highway/Road/Alley/Street/Sidewalk', 759),
 ('M', 'White', 'Jail/Prison/Penitentiary/Corrections Facility', 748),
 ('F', 'Unknown', 'Other/Unknown', 744),
 ('M', 'Unknown', 'Other/Unknown', 709),
 ('M', 'Unknown', 'Park/Playground', 612),
 ('M', 'Black or African American', 'Parking/Drop Lot/Garage', 607),
 ('M', 'White', 'Specialty Store', 576),
 ('F', 'White', 'Specialty Store', 557),
 ('F', 'White', 'Department/Discount Store', 526),
 ('M', 'White', 'Department/Discount Store', 512),
 ('F', 'Black or African American', 'Parking/Drop Lot/Garage', 511),
 ('M', 'Asian', 'Highway/Road/Alley/Street/Sidewalk', 497),
 ('M', 'White', 'Convenience Store', 422),
 ('U', 'Unknown', 'Highway/Road/Alley/Street/Sidewalk', 394),
 ('F', 'Unknown', 'Park/Playground', 385),
 ('M', 'White', 'Bar/Nightclub', 351),
 ('F', 'White', 'Bank/Savings and Loan', 339),
 ('M', 'White', 'Restaurant', 338),
 ('M', 'White', 'Bank/Savings and Loan', 315),
 ('M', 'Black or African American', 'Park/Playground', 312),
 ('F', 'White', 'Convenience Store', 309),
 ('F', 'White', 'Restaurant', 309),
 ('F', 'Asian', 'Highway/Road/Alley/Street/Sidewalk', 293),
 ('M', 'Asian', 'Parking/Drop Lot/Garage', 290),
 ('F', 'White', "Drug Store/Doctor's Office/Hospital", 274),
 ('M', 'White', "Drug Store/Doctor's Office/Hospital", 271),
 ('F', 'White', 'Bar/Nightclub', 266),
 ('F', 'Asian', 'Parking/Drop Lot/Garage', 265),
 ('M', 'White', 'Air/Bus/Train Terminal', 263),
 ('M', 'White', 'Rental Storage Facility', 263),
 ('M', 'Unknown', 'Specialty Store', 261),
 ('M', 'White', 'Service/Gas Station', 259),
 ('M', 'White', 'School/College', 252),
 ('F', 'Unknown', 'Specialty Store', 243),
 ('F', 'White', 'School/College', 228),
 ('M', 'Asian', 'Commercial/Office Building', 209),
 ('F', 'Black or African American', 'Hotel/Motel/Etc.', 208),
 ('F', 'White', 'Service/Gas Station', 195),
 ('M', 'Unknown', 'Commercial/Office Building', 194),
 ('F', 'Unknown', 'Bank/Savings and Loan', 193),
 ('F', 'Black or African American', 'Park/Playground', 183),
 ('M', 'Black or African American', 'Jail/Prison/Penitentiary/Corrections Facility', 178),
 ('F', 'White', 'Air/Bus/Train Terminal', 172),
 ('F', 'Black or African American', 'Other/Unknown', 170),
 ('M', 'Black or African American', 'Hotel/Motel/Etc.', 168),
 ('U', 'Unknown', 'Parking/Drop Lot/Garage', 161),
 ('M', 'Unknown', 'Hotel/Motel/Etc.', 161),
 ('M', 'Unknown', 'Bank/Savings and Loan', 158),
 ('M', 'Black or African American', 'Other/Unknown', 158),
 ('F', 'Asian', 'Other/Unknown', 155),
 ('M', 'White', 'Field/Woods', 146),
 ('F', 'Unknown', 'Commercial/Office Building', 142),
 ('F', 'White', 'Rental Storage Facility', 142),
 ('M', 'Asian', 'Other/Unknown', 140),
 ('M', 'Asian', 'Park/Playground', 137),
 ('F', 'Asian', 'Commercial/Office Building', 134),
 ('F', 'Unknown', 'Hotel/Motel/Etc.', 134),
 ('M', 'White', 'Government/Public Building', 131),
 ('M', 'White', 'Cyberspace', 129),
 ('M', 'Black or African American', 'Commercial/Office Building', 125),
 ('M', 'White', 'Grocery/Supermarket', 125),
 ('F', 'White', 'Grocery/Supermarket', 124),
 ('M', 'White', 'Construction Site', 114),
 ('M', 'White', 'Lake/Waterway/Beach', 112),
 ('F', 'Asian', 'Park/Playground', 106),
 ('F', 'White', 'Government/Public Building', 104),
 ('F', 'Black or African American', 'Commercial/Office Building', 103),
 ('F', 'American Indian or Alaska Native', 'Residence/Home', 99),
 ('F', 'White', 'Field/Woods', 97),
 ('M', 'White', 'Liquor Store', 85),
 ('U', 'Unknown', 'Residence/Home', 84),
 ('F', 'Unknown', 'Department/Discount Store', 83),
 ('F', 'White', 'Cyberspace', 83),
 ('M', 'Black or African American', 'Air/Bus/Train Terminal', 81),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Residence/Home', 80),
 ('M', 'Unknown', 'Department/Discount Store', 79),
 ('M', 'American Indian or Alaska Native', 'Residence/Home', 79),
 ('M', 'Unknown', 'Convenience Store', 71),
 ('M', 'Black or African American', 'Convenience Store', 67),
 ('F', 'Unknown', 'Cyberspace', 62),
 ('M', 'Native Hawaiian or Other Pacific Islander', 'Residence/Home', 60),
 ('F', 'Unknown', 'Convenience Store', 58),
 ('U', 'Unknown', 'Park/Playground', 58),
 ('F', 'White', 'Jail/Prison/Penitentiary/Corrections Facility', 57),
 ('M', 'Black or African American', 'Specialty Store', 56),
 ('F', 'Asian', 'Hotel/Motel/Etc.', 56),
 ('M', 'Unknown', 'Service/Gas Station', 54),
 ('F', 'White', 'Gambling Facility/Casino/Race Track', 54),
 ('M', 'Asian', 'Specialty Store', 52),
 ('U', 'Unknown', 'Hotel/Motel/Etc.', 50),
 ('M', 'Black or African American', 'Department/Discount Store', 50),
 ('F', 'Black or African American', 'Convenience Store', 49),
 ('M', 'White', 'Gambling Facility/Casino/Race Track', 47),
 ('M', 'American Indian or Alaska Native', 'Highway/Road/Alley/Street/Sidewalk', 47),
 ('F', 'Asian', 'Specialty Store', 47),
 ('F', 'White', 'Lake/Waterway/Beach', 47),
 ('F', 'Unknown', 'Air/Bus/Train Terminal', 46),
 ('F', 'Unknown', 'Service/Gas Station', 46),
 ('M', 'Native Hawaiian or Other Pacific Islander', 'Highway/Road/Alley/Street/Sidewalk', 44),
 ('M', 'Unknown', 'Bar/Nightclub', 44),
 ('M', 'Unknown', 'Air/Bus/Train Terminal', 44),
 ('M', 'Black or African American', 'Service/Gas Station', 43),
 ('F', 'Black or African American', 'Specialty Store', 42),
 ('F', 'Asian', 'Bank/Savings and Loan', 42),
 ('M', 'Asian', 'Bank/Savings and Loan', 39),
 ('M', 'Black or African American', 'Bar/Nightclub', 39),
 ('F', 'Unknown', "Drug Store/Doctor's Office/Hospital", 37),
 ('U', 'Unknown', 'Other/Unknown', 37),
 ('M', 'Asian', 'Hotel/Motel/Etc.', 37),
 ('M', 'Unknown', 'Cyberspace', 37),
 ('F', 'Unknown', 'Grocery/Supermarket', 35),
 ('M', 'Black or African American', 'Rental Storage Facility', 35),
 ('F', 'Unknown', 'Restaurant', 35),
 ('F', 'Unknown', 'Bar/Nightclub', 34),
 ('M', 'Black or African American', 'School/College', 34),
 ('F', 'Asian', 'Department/Discount Store', 34),
 ('M', 'Unknown', "Drug Store/Doctor's Office/Hospital", 34),
 ('M', 'Black or African American', 'Restaurant', 34),
 ('F', 'Black or African American', 'Bank/Savings and Loan', 34),
 ('M', 'Unknown', 'Rental Storage Facility', 32),
 ('M', 'Black or African American', "Drug Store/Doctor's Office/Hospital", 32),
 ('M', 'Asian', 'Restaurant', 32),
 ('F', 'Asian', "Drug Store/Doctor's Office/Hospital", 32),
 ('F', 'Black or African American', 'Department/Discount Store', 31),
 ('F', 'Black or African American', 'Air/Bus/Train Terminal', 31),
 ('M', 'Unknown', 'Restaurant', 31),
 ('M', 'Asian', "Drug Store/Doctor's Office/Hospital", 30),
 ('F', 'Asian', 'Bar/Nightclub', 30),
 ('F', 'Black or African American', "Drug Store/Doctor's Office/Hospital", 30),
 ('M', 'Asian', 'Bar/Nightclub', 30),
 ('M', 'Unknown', 'Jail/Prison/Penitentiary/Corrections Facility', 30),
 ('M', 'Asian', 'Department/Discount Store', 29),
 ('M', 'White', 'Church/Synagogue/Temple/Mosque', 29),
 ('M', 'Asian', 'Jail/Prison/Penitentiary/Corrections Facility', 28),
 ('M', 'Asian', 'Convenience Store', 28),
 ('M', 'American Indian or Alaska Native', 'Parking/Drop Lot/Garage', 27),
 ('M', 'Black or African American', 'Grocery/Supermarket', 27),
 ('F', 'White', 'Construction Site', 26),
 ('M', 'Black or African American', 'Bank/Savings and Loan', 26),
 ('F', 'Asian', 'School/College', 24),
 ('M', 'Black or African American', 'Government/Public Building', 24),
 ('M', 'Unknown', 'Government/Public Building', 24),
 ('M', 'Asian', 'Rental Storage Facility', 24),
 ('U', 'White', 'Residence/Home', 24),
 ('F', 'Unknown', 'Rental Storage Facility', 24),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Highway/Road/Alley/Street/Sidewalk', 23),
 ('F', 'White', 'Liquor Store', 23),
 ('M', 'Asian', 'Air/Bus/Train Terminal', 23),
 ('F', 'Black or African American', 'Restaurant', 23),
 ('F', 'Black or African American', 'Service/Gas Station', 23),
 ('M', 'Asian', 'Field/Woods', 23),
 ('F', 'Asian', 'Restaurant', 22),
 ('M', 'Native Hawaiian or Other Pacific Islander', 'Parking/Drop Lot/Garage', 22),
 ('F', 'Unknown', 'School/College', 22),
 ('F', 'American Indian or Alaska Native', 'Highway/Road/Alley/Street/Sidewalk', 21),
 ('U', 'White', 'Highway/Road/Alley/Street/Sidewalk', 21),
 ('M', 'American Indian or Alaska Native', 'Convenience Store', 20),
 ('F', 'Asian', 'Field/Woods', 20),
 ('F', 'American Indian or Alaska Native', 'Parking/Drop Lot/Garage', 20),
 ('M', 'Unknown', 'Construction Site', 20),
 ('F', 'Asian', 'Government/Public Building', 19),
 ('F', 'White', 'Church/Synagogue/Temple/Mosque', 18),
 ('F', 'Asian', 'Grocery/Supermarket', 18),
 ('F', 'Black or African American', 'Gambling Facility/Casino/Race Track', 17),
 ('F', 'Black or African American', 'School/College', 17),
 ('M', 'Unknown', 'Grocery/Supermarket', 17),
 ('F', 'Black or African American', 'Jail/Prison/Penitentiary/Corrections Facility', 17),
 ('M', 'Asian', 'School/College', 17),
 ('F', 'Black or African American', 'Government/Public Building', 17),
 ('U', 'Unknown', 'Commercial/Office Building', 17),
 ('F', 'Black or African American', 'Bar/Nightclub', 17),
 ('F', 'Unknown', 'Government/Public Building', 16),
 ('F', 'Black or African American', 'Field/Woods', 16),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Parking/Drop Lot/Garage', 16),
 ('M', 'American Indian or Alaska Native', 'Park/Playground', 16),
 ('F', 'Black or African American', 'Rental Storage Facility', 15),
 ('M', 'Unknown', 'School/College', 15),
 ('M', 'Black or African American', 'Cyberspace', 14),
 ('M', 'Black or African American', 'Field/Woods', 14),
 ('F', 'Asian', 'Cyberspace', 13),
 ('M', 'American Indian or Alaska Native', 'Hotel/Motel/Etc.', 13),
 ('M', 'Asian', 'Grocery/Supermarket', 13),
 ('F', 'Asian', 'Convenience Store', 13),
 ('M', 'Asian', 'Service/Gas Station', 13),
 ('M', 'Black or African American', 'Construction Site', 12),
 ('U', 'Unknown', 'Air/Bus/Train Terminal', 12),
 ('M', 'Unknown', 'Liquor Store', 12),
 ('M', 'Unknown', 'Lake/Waterway/Beach', 12),
 ('M', 'Asian', 'Cyberspace', 11),
 ('F', 'Asian', 'Service/Gas Station', 11),
 ('F', 'American Indian or Alaska Native', 'Park/Playground', 11),
 ('M', 'Black or African American', 'Liquor Store', 11),
 ('F', 'Asian', 'Air/Bus/Train Terminal', 10),
 ('F', 'Black or African American', 'Grocery/Supermarket', 10),
 ('U', 'Unknown', 'Jail/Prison/Penitentiary/Corrections Facility', 10),
 ('M', 'American Indian or Alaska Native', 'Gambling Facility/Casino/Race Track', 10),
 ('F', 'Unknown', 'Lake/Waterway/Beach', 10),
 ('U', 'Unknown', 'Service/Gas Station', 9),
 ('M', 'Asian', 'Lake/Waterway/Beach', 9),
 ('F', 'Black or African American', 'Liquor Store', 9),
 ('U', 'Unknown', 'School/College', 9),
 ('M', 'Native Hawaiian or Other Pacific Islander', 'Commercial/Office Building', 9),
 ('M', 'Unknown', 'Field/Woods', 9),
 ('U', 'Unknown', 'Department/Discount Store', 8),
 ('M', 'American Indian or Alaska Native', 'Other/Unknown', 8),
 ('M', 'Native Hawaiian or Other Pacific Islander', 'Park/Playground', 8),
 ('U', 'Unknown', 'Specialty Store', 8),
 ('F', 'American Indian or Alaska Native', 'Hotel/Motel/Etc.', 8),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Hotel/Motel/Etc.', 8),
 ('F', 'Asian', 'Rental Storage Facility', 8),
 ('U', 'White', 'Park/Playground', 7),
 ('F', 'American Indian or Alaska Native', 'Gambling Facility/Casino/Race Track', 7),
 ('U', 'Unknown', 'Convenience Store', 7),
 ('F', 'Unknown', 'Construction Site', 7),
 ('M', 'Asian', 'Church/Synagogue/Temple/Mosque', 7),
 ('F', 'Black or African American', 'Lake/Waterway/Beach', 7),
 ('F', 'Unknown', 'Gambling Facility/Casino/Race Track', 7),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Park/Playground', 6),
 ('F', 'American Indian or Alaska Native', 'Tribal Lands', 6),
 ('F', 'Asian', 'Gambling Facility/Casino/Race Track', 6),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Commercial/Office Building', 6),
 ('F', 'Unknown', 'Field/Woods', 6),
 ('M', 'American Indian or Alaska Native', 'Specialty Store', 6),
 ('M', 'Asian', 'Government/Public Building', 6),
 ('M', 'Black or African American', 'Gambling Facility/Casino/Race Track', 6),
 ('M', 'Native Hawaiian or Other Pacific Islander', 'Jail/Prison/Penitentiary/Corrections Facility', 6),
 ('U', 'Unknown', 'Construction Site', 6),
 ('U', 'White', 'Parking/Drop Lot/Garage', 6),
 ('M', 'American Indian or Alaska Native', 'Service/Gas Station', 5),
 ('M', 'Black or African American', 'Lake/Waterway/Beach', 5),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Specialty Store', 5),
 ('F', 'Black or African American', 'Cyberspace', 5),
 ('F', 'American Indian or Alaska Native', 'Other/Unknown', 5),
 ('F', 'Unknown', 'Tribal Lands', 4),
 ('M', 'Unknown', 'Gambling Facility/Casino/Race Track', 4),
 ('U', 'White', 'Other/Unknown', 4),
 ('U', 'Unknown', 'Rental Storage Facility', 4),
 ('F', 'American Indian or Alaska Native', 'School/College', 4),
 ('F', 'Asian', 'Jail/Prison/Penitentiary/Corrections Facility', 4),
 ('U', 'Unknown', 'Grocery/Supermarket', 4),
 ('M', 'Black or African American', 'Church/Synagogue/Temple/Mosque', 4),
 ('F', 'American Indian or Alaska Native', 'Convenience Store', 4),
 ('M', 'Asian', 'Gambling Facility/Casino/Race Track', 4),
 ('U', 'Unknown', 'Field/Woods', 4),
 ('M', 'Unknown', 'Church/Synagogue/Temple/Mosque', 4),
 ('F', 'American Indian or Alaska Native', 'Bank/Savings and Loan', 4),
 ('M', 'American Indian or Alaska Native', 'Liquor Store', 4),
 ('U', 'Asian', 'Residence/Home', 4),
 ('M', 'Unknown', 'Tribal Lands', 4),
 ('U', 'Asian', 'Highway/Road/Alley/Street/Sidewalk', 4),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Restaurant', 4),
 ('M', 'Native Hawaiian or Other Pacific Islander', 'Gambling Facility/Casino/Race Track', 4),
 ('F', 'American Indian or Alaska Native', 'Cyberspace', 4),
 ('U', 'Native Hawaiian or Other Pacific Islander', 'Jail/Prison/Penitentiary/Corrections Facility', 3),
 ('M', 'Native Hawaiian or Other Pacific Islander', 'Hotel/Motel/Etc.', 3),
 ('M', 'Native Hawaiian or Other Pacific Islander', "Drug Store/Doctor's Office/Hospital", 3),
 ('M', 'Asian', 'Liquor Store', 3),
 ('M', 'American Indian or Alaska Native', 'Tribal Lands', 3),
 ('M', 'American Indian or Alaska Native', 'Bar/Nightclub', 3),
 ('M', 'American Indian or Alaska Native', 'Bank/Savings and Loan', 3),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Other/Unknown', 3),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Convenience Store', 3),
 ('U', 'Black or African American', 'Highway/Road/Alley/Street/Sidewalk', 3),
 ('U', 'Unknown', 'Bar/Nightclub', 3),
 ('U', 'Unknown', "Drug Store/Doctor's Office/Hospital", 3),
 ('F', 'American Indian or Alaska Native', 'Specialty Store', 3),
 ('U', 'Unknown', 'Restaurant', 3),
 ('U', 'Unknown', 'Tribal Lands', 3),
 ('F', 'American Indian or Alaska Native', 'Commercial/Office Building', 3),
 ('M', 'Native Hawaiian or Other Pacific Islander', 'Department/Discount Store', 2),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Government/Public Building', 2),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Gambling Facility/Casino/Race Track', 2),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Field/Woods', 2),
 ('F', 'Native Hawaiian or Other Pacific Islander', "Drug Store/Doctor's Office/Hospital", 2),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Department/Discount Store', 2),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Bank/Savings and Loan', 2),
 ('M', 'White', 'Tribal Lands', 2),
 ('U', 'Black or African American', 'Park/Playground', 2),
 ('U', 'Black or African American', 'Residence/Home', 2),
 ('U', 'Native Hawaiian or Other Pacific Islander', 'Highway/Road/Alley/Street/Sidewalk', 2),
 ('U', 'Unknown', 'Bank/Savings and Loan', 2),
 ('M', 'Native Hawaiian or Other Pacific Islander', 'Service/Gas Station', 2),
 ('M', 'American Indian or Alaska Native', 'Restaurant', 2),
 ('F', 'Asian', 'Liquor Store', 2),
 ('M', 'Native Hawaiian or Other Pacific Islander', 'Air/Bus/Train Terminal', 2),
 ('F', 'Asian', 'Church/Synagogue/Temple/Mosque', 2),
 ('M', 'Native Hawaiian or Other Pacific Islander', 'Bank/Savings and Loan', 2),
 ('M', 'Native Hawaiian or Other Pacific Islander', 'Other/Unknown', 2),
 ('U', 'White', 'Commercial/Office Building', 2),
 ('F', 'Unknown', 'Liquor Store', 2),
 ('F', 'Unknown', 'Jail/Prison/Penitentiary/Corrections Facility', 2),
 ('F', 'Unknown', 'Church/Synagogue/Temple/Mosque', 2),
 ('M', 'American Indian or Alaska Native', 'Commercial/Office Building', 2),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Service/Gas Station', 2),
 ('M', 'American Indian or Alaska Native', 'Department/Discount Store', 2),
 ('F', 'American Indian or Alaska Native', 'Air/Bus/Train Terminal', 2),
 ('F', 'American Indian or Alaska Native', "Drug Store/Doctor's Office/Hospital", 1),
 ('U', 'Unknown', 'Church/Synagogue/Temple/Mosque', 1),
 ('F', 'Black or African American', 'Construction Site', 1),
 ('M', 'Native Hawaiian or Other Pacific Islander', 'Field/Woods', 1),
 ('F', 'Black or African American', 'Church/Synagogue/Temple/Mosque', 1),
 ('F', 'White', 'Tribal Lands', 1),
 ('M', 'Native Hawaiian or Other Pacific Islander', 'School/College', 1),
 ('M', 'Asian', 'Construction Site', 1),
 ('U', 'Unknown', 'Gambling Facility/Casino/Race Track', 1),
 ('U', 'Unknown', 'Government/Public Building', 1),
 ('M', 'Black or African American', 'Tribal Lands', 1),
 ('U', 'White', 'Cyberspace', 1),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Grocery/Supermarket', 1),
 ('F', 'Asian', 'Lake/Waterway/Beach', 1),
 ('M', 'Unknown', 'Auto Dealership New/Used', 1),
 ('M', 'American Indian or Alaska Native', 'Air/Bus/Train Terminal', 1),
 ('U', 'Unknown', 'Lake/Waterway/Beach', 1),
 ('U', 'Unknown', 'Liquor Store', 1),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Cyberspace', 1),
 ('U', 'White', "Drug Store/Doctor's Office/Hospital", 1),
 ('F', 'Native Hawaiian or Other Pacific Islander', 'Bar/Nightclub', 1),
 ('F', 'American Indian or Alaska Native', 'Church/Synagogue/Temple/Mosque', 1),
 ('F', 'Black or African American', 'Tribal Lands', 1),
 ('F', 'American Indian or Alaska Native', 'Service/Gas Station', 1),
 ('U', 'Asian', 'Department/Discount Store', 1),
 ('M', 'American Indian or Alaska Native', "Drug Store/Doctor's Office/Hospital", 1),
 ('M', 'American Indian or Alaska Native', 'Government/Public Building', 1),
 ('U', 'Asian', 'Specialty Store', 1),
 ('U', 'White', 'Government/Public Building', 1),
 ('U', 'Black or African American', 'Hotel/Motel/Etc.', 1),
 ('U', 'White', 'Convenience Store', 1),
 ('U', 'Black or African American', 'Parking/Drop Lot/Garage', 1),

#### Part C: Write a query to provide a list of victims who suffered at least 4 offenses in an incident. For each victim, provide victim id, sex, race, ethnicity, and location.

In [152]:
%%sql
SELECT  NIBRS_Victim.Victim_ID, NIBRS_Victim.Sex_Code, Ref_Race.Race_Desc, NIBRS_Ethnicity.Ethnicity_Name, NIBRS_Location_Type.Location_Name
FROM   NIBRS_VICTIM, REF_RACE, NIBRS_ETHNICITY, NIBRS_OFFENSE, NIBRS_VICTIM_OFFENSE, NIBRS_LOCATION_TYPE
WHERE  NIBRS_VICTIM.Race_ID=REF_RACE.Race_ID AND 
        NIBRS_VICTIM.Ethnicity_ID=NIBRS_ETHNICITY.Ethnicity_ID AND
        NIBRS_VICTIM.Victim_ID=NIBRS_VICTIM_OFFENSE.Victim_ID AND
        NIBRS_VICTIM_OFFENSE.offense_ID=NIBRS_OFFENSE.offense_ID AND
        NIBRS_OFFENSE.location_ID=NIBRS_LOCATION_TYPE.location_ID
GROUP BY NIBRS_Victim.Victim_ID, Sex_Code, Ref_Race.Race_Desc, NIBRS_Ethnicity.Ethnicity_Name, NIBRS_Location_Type.Location_Name
HAVING COUNT( NIBRS_VICTIM_OFFENSE.Victim_ID)>= 4
ORDER BY 1,2

 * postgresql://student@/assignment2
23 rows affected.

[(Decimal('147189631'), 'M', 'Asian', 'Not Hispanic or Latino', 'Residence/Home'),
 (Decimal('149952428'), 'F', 'White', 'Not Hispanic or Latino', 'Residence/Home'),
 (Decimal('149952429'), 'M', 'White', 'Not Hispanic or Latino', 'Residence/Home'),
 (Decimal('150577511'), 'X', 'Not Specified', 'Not Specified', 'Hotel/Motel/Etc.'),
 (Decimal('150927896'), 'F', 'White', 'Hispanic or Latino', 'Residence/Home'),
 (Decimal('151353643'), 'F', 'White', 'Not Hispanic or Latino', 'Residence/Home'),
 (Decimal('152275412'), 'F', 'Asian', 'Not Hispanic or Latino', 'Parking/Drop Lot/Garage'),
 (Decimal('152279582'), 'F', 'White', 'Hispanic or Latino', 'Residence/Home'),
 (Decimal('153636357'), 'M', 'Unknown', 'Not Specified', 'Residence/Home'),
 (Decimal('153636358'), 'F', 'Unknown', 'Not Specified', 'Residence/Home'),
 (Decimal('155146280'), 'X', 'Not Specified', 'Not Specified', 'Commercial/Office Building'),
 (Decimal('155915041'), 'F', 'White', 'Hispanic or Latino', 'Residence/Home'),
 (Decimal('157192073'), 'F', 'White', 'Not Hispanic or Latino', 'Specialty Store'),
 (Decimal('157802745'), 'F', 'Black or African American', 'Not Hispanic or Latino', 'Parking/Drop Lot/Garage'),
 (Decimal('158089873'), 'M', 'White', 'Not Hispanic or Latino', 'Commercial/Office Building'),
 (Decimal('158711346'), 'X', 'Not Specified', 'Not Specified', 'School/College'),
 (Decimal('158721594'), 'X', 'Not Specified', 'Not Specified', 'Parking/Drop Lot/Garage'),
 (Decimal('159241078'), 'F', 'White', 'Hispanic or Latino', 'Residence/Home'),
 (Decimal('159241079'), 'M', 'White', 'Hispanic or Latino', 'Residence/Home'),
 (Decimal('160420142'), 'F', 'Unknown', 'Not Specified', 'Highway/Road/Alley/Street/Sidewalk'),
 (Decimal('160655133'), 'X', 'Not Specified', 'Not Specified', 'Specialty Store'),
 (Decimal('160966399'), 'X', 'Not Specified', 'Not Specified', 'Hotel/Motel/Etc.'),
 (Decimal('165679371'), 'F', 'White', 'Not Hispanic or Latino', "Drug Store/Doctor's Office/Hospital")]

#### Part D: Write a query to provide a list of incidents with more than 9 victims. Provide a distribution of the victims (counts) based on their sex, race, and ethnicity.

In [149]:
%%sql
SELECT NIBRS_Victim.Incident_ID, NIBRS_Victim.Sex_Code, Ref_Race.Race_Desc, NIBRS_Ethnicity.Ethnicity_Name,
COUNT(NIBRS_Victim.Victim_ID) AS count_of_victims
FROM Ref_Race, NIBRS_Ethnicity, NIBRS_Victim
WHERE Ref_Race.Race_ID = NIBRS_Victim.Race_ID
	AND NIBRS_Ethnicity.Ethnicity_ID = NIBRS_Victim.Ethnicity_ID
GROUP BY NIBRS_Victim.Incident_ID, NIBRS_Victim.Sex_Code, Ref_Race.Race_Desc, NIBRS_Ethnicity.Ethnicity_Name
HAVING COUNT(NIBRS_VICTIM.Victim_ID)>9
ORDER BY count_of_victims DESC

 * postgresql://student@/assignment2
35 rows affected.

[(Decimal('147749775'), 'U', 'Unknown', 'Not Specified', 35),
 (Decimal('137605495'), 'M', 'Unknown', 'Not Specified', 28),
 (Decimal('145691175'), 'U', 'Unknown', 'Not Specified', 28),
 (Decimal('140469254'), 'U', 'Unknown', 'Not Specified', 26),
 (Decimal('142698685'), 'U', 'Unknown', 'Not Specified', 23),
 (Decimal('147896228'), 'U', 'Unknown', 'Not Specified', 22),
 (Decimal('144563456'), 'U', 'Unknown', 'Not Specified', 17),
 (Decimal('139888104'), 'U', 'Unknown', 'Not Specified', 16),
 (Decimal('135345573'), 'U', 'Unknown', 'Not Specified', 16),
 (Decimal('137222669'), 'U', 'Unknown', 'Not Specified', 16),
 (Decimal('141811358'), 'U', 'Unknown', 'Not Specified', 16),
 (Decimal('133601291'), 'U', 'Unknown', 'Not Specified', 15),
 (Decimal('146389290'), 'U', 'Unknown', 'Not Specified', 15),
 (Decimal('138101136'), 'M', 'Unknown', 'Not Specified', 15),
 (Decimal('138407884'), 'U', 'Unknown', 'Not Specified', 15),
 (Decimal('137605495'), 'F', 'Unknown', 'Not Specified', 14),
 (Decimal('147284965'), 'F', 'Unknown', 'Not Specified', 14),
 (Decimal('138646605'), 'U', 'Unknown', 'Not Specified', 13),
 (Decimal('136473317'), 'U', 'Unknown', 'Not Specified', 13),
 (Decimal('145460129'), 'M', 'Unknown', 'Not Specified', 13),
 (Decimal('141879785'), 'M', 'Unknown', 'Not Specified', 13),
 (Decimal('147284965'), 'M', 'Unknown', 'Not Specified', 13),
 (Decimal('135345573'), 'X', 'Not Specified', 'Not Specified', 12),
 (Decimal('139720462'), 'F', 'Unknown', 'Not Specified', 12),
 (Decimal('134920194'), 'M', 'Unknown', 'Not Specified', 12),
 (Decimal('136530510'), 'M', 'Unknown', 'Not Specified', 11),
 (Decimal('133750424'), 'U', 'Unknown', 'Not Specified', 11),
 (Decimal('142308982'), 'M', 'Unknown', 'Not Specified', 11),
 (Decimal('134920194'), 'F', 'Unknown', 'Not Specified', 11),
 (Decimal('147748517'), 'F', 'White', 'Not Hispanic or Latino', 11),
 (Decimal('134105803'), 'M', 'Unknown', 'Not Specified', 11),
 (Decimal('142404011'), 'U', 'Unknown', 'Not Specified', 10),
 (Decimal('138386663'), 'U', 'Unknown', 'Not Specified', 10),
 (Decimal('144563456'), 'X', 'Not Specified', 'Not Specified', 10),
 (Decimal('142426486'), 'M', 'Unknown', 'Not Specified', 10)]